In [1]:
spark

Waiting for a Spark session to start...

org.apache.spark.sql.SparkSession@328ae204

In [2]:
spark.conf.get("spark.driver.appUIAddress")

Waiting for a Spark session to start...

http://gw02.itversity.com:4044

In [3]:
def getType(o: Any) = o.getClass.getTypeName

getType: (o: Any)String

In [4]:
val envHome: Option[String] = System.getenv("HOME").split("/").lift(2)
val path = if(envHome.isDefined)  "/user/kkdosapati/dataSets/spark-guide/flight-data/parquet/2010-summary.parquet" else 
"/databricks-datasets/definitive-guide/data/flight-data/parquet/2010-summary.parquet"

envHome = Some(kkdosapati)
path = /user/kkdosapati/dataSets/spark-guide/flight-data/parquet/2010-summary.parquet

/user/kkdosapati/dataSets/spark-guide/flight-data/parquet/2010-summary.parquet

In [5]:
import org.apache.spark.sql.{DataFrame, Dataset}

In [6]:
val flightDF:DataFrame = spark.read.parquet(path)

flightDF = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [7]:
case class Flight(DEST_COUNTRY_NAME: String, ORIGIN_COUNTRY_NAME: String, count: BigInt)

defined class Flight

In [8]:
flightDF.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [9]:
val flights:Dataset[Flight] = flightDF.as[Flight]

flights = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [10]:
flights.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [11]:
val x1 = flights.filter(_.ORIGIN_COUNTRY_NAME!="Canada")

x1 = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [12]:
x1.take(5)

Array(Flight(United States,Romania,1), Flight(United States,Ireland,264), Flight(United States,India,69), Flight(Egypt,United States,24), Flight(Equatorial Guinea,United States,1))

In [13]:
x1.getClass()

class org.apache.spark.sql.Dataset

In [14]:
getType(x1)

org.apache.spark.sql.Dataset

In [15]:
flights.take(5).filter(_.ORIGIN_COUNTRY_NAME != "Canada").map(
    f => Flight(f.DEST_COUNTRY_NAME, f.ORIGIN_COUNTRY_NAME, f.count+5))

Array(Flight(United States,Romania,6), Flight(United States,Ireland,269), Flight(United States,India,74), Flight(Egypt,United States,29), Flight(Equatorial Guinea,United States,6))

In [16]:
flights.take(5).filter(_.ORIGIN_COUNTRY_NAME != "India")

Array(Flight(United States,Romania,1), Flight(United States,Ireland,264), Flight(Egypt,United States,24), Flight(Equatorial Guinea,United States,1))

In [17]:
getType(x1)

org.apache.spark.sql.Dataset

In [18]:
getType(x1.take(1))

Flight[]

In [19]:
getType(x1.take(1)(0))

Flight