In [1]:
spark

Waiting for a Spark session to start...

Spark application_1540458187951_69701: Some(http://gw02.itversity.com:4041)

In [52]:
sc.getConf.getAll.filter(_._2.contains("/proxy/"))(0)._2

http://rm01.itversity.com:19288/proxy/application_1540458187951_69701

In [7]:
def getType(o: Any) = o.getClass.getCanonicalName

getType: (o: Any)String

In [8]:
getType(spark)

org.apache.spark.sql.SparkSession

In [9]:
getType(sc)

org.apache.spark.SparkContext

In [10]:
val os_name = System.getProperty("os.name")
val hdfs_home = "/user/" + System.getenv("HOME").split("/")(2)

os_name = Linux
hdfs_home = /user/kranthidr

/user/kranthidr

In [11]:
// import platform,os
// os_name = platform.system()
// hdfs_home = "/user/" + os.getenv("HOME").split("/")[2]
// print(hdfs_home)
// print(os_name)

Name: Syntax Error.
Message:
StackTrace:

In [12]:
val path = hdfs_home + "/dataSets/spark-guide/flight-data/csv/2015-summary.csv"

path = /user/kranthidr/dataSets/spark-guide/flight-data/csv/2015-summary.csv

/user/kranthidr/dataSets/spark-guide/flight-data/csv/2015-summary.csv

In [13]:
// import findspark
// findspark.init('/usr/hdp/current/spark2-client')
// findspark.find()

// import pyspark

// from pyspark.sql import SparkSession
// spark = SparkSession.builder.master("yarn").appName("ch02Introduction").getOrCreate()

Name: Syntax Error.
Message:
StackTrace:

In [14]:
print(spark.version)

2.3.0.2.6.5.0-292

In [15]:
sc.getConf.getAll

[(spark.history.kerberos.keytab,none), (spark.dynamicAllocation.maxExecutors,4), (spark.eventLog.enabled,true), (spark.dynamicAllocation.executorIdleTimeout,300), (spark.driver.appUIAddress,http://gw02.itversity.com:4041), (spark.history.ui.port,18081), (spark.app.id,application_1540458187951_69701), (spark.driver.extraLibraryPath,/usr/hdp/current/hadoop-client/lib/native:/usr/hdp/current/hadoop-client/lib/native/Linux-amd64-64), (spark.app.name,Apache Toree), (spark.executor.extraLibraryPath,/usr/hdp/current/hadoop-client/lib/native:/usr/hdp/current/hadoop-client/lib/native/Linux-amd64-64), (spark.repl.class.outputDir,/tmp/spark-317a07ed-0455-4722-9048-f2f530886a85/repl-6f109c80-60c9-4397-a0aa-e0b18c330c0b), (spark.history.provider,org.apache.spark.deploy.history.FsHistoryProvider), (spark.org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter.param.PROXY_HOSTS,rm01.itversity.com), (spark.submit.deployMode,client), (spark.ui.filters,org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter), (spark.org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter.param.PROXY_URI_BASES,http://rm01.itversity.com:19288/proxy/application_1540458187951_69701), (spark.eventLog.dir,hdfs:///spark2-history/), (spark.yarn.historyServer.address,gw03.itversity.com:18081), (spark.shuffle.service.enabled,true), (spark.yarn.queue,default), (spark.executor.id,driver), (spark.driver.host,gw02.itversity.com), (spark.history.fs.logDirectory,hdfs:///spark2-history/), (spark.master,yarn), (spark.history.kerberos.principal,none), (spark.jars,file:/home/kranthidr/.local/share/jupyter/kernels/spark_scala/lib/toree-assembly-0.2.0-incubating.jar), (spark.repl.class.uri,spark://gw02.itversity.com:43753/classes), (spark.dynamicAllocation.minExecutors,0), (spark.dynamicAllocation.enabled,true), (spark.dynamicAllocation.initialExecutors,0), (spark.driver.port,43753)]

In [16]:
// for x in sc._conf.getAll():
//     if 'PROXY' in x[1]:
//         print(x[1])

// sc._jsc.sc().uiWebUrl().get()

Name: Syntax Error.
Message:
StackTrace:

In [54]:
sc.getConf.getAll.foreach(x=>if(x._2.contains("/proxy/")){println(x._2)})
sc.getConf.getAll.filter(_._2.contains("/proxy/"))(0)._2

http://rm01.itversity.com:19288/proxy/application_1540458187951_69701

http://rm01.itversity.com:19288/proxy/application_1540458187951_69701

In [18]:
val myRange = spark.range(1000).toDF("number")

myRange = [number: bigint]

[number: bigint]

In [7]:
myRange.show(5)

+------+
|number|
+------+
|     0|
|     1|
|     2|
|     3|
|     4|
+------+
only showing top 5 rows

In [19]:
getType(myRange)

org.apache.spark.sql.Dataset

In [20]:
myRange.getClass.getName

org.apache.spark.sql.Dataset

In [21]:
myRange.take(3)

+-----+
| 0   |
| 1   |
| 2   |
+-----+

In [22]:
myRange.count()

1000

In [23]:
val divisBy2 = myRange.where("number%2 = 0") //both = and == works

divisBy2 = [number: bigint]

[number: bigint]

In [24]:
divisBy2.show(5)

+------+
|number|
+------+
|     0|
|     2|
|     4|
|     6|
|     8|
+------+
only showing top 5 rows

In [25]:
import sys.process._

In [26]:
"pwd" !

/home/kranthidr/projects/ml_lab/spark-scala/spark-tdg

warning: there was one feature warning; re-run with -feature for details

0

In [27]:
val flightData2015 = spark.read.option("inferSchema", true)
                .option("header", true)
                .csv(path)

flightData2015 = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [28]:
getType(flightData2015)

org.apache.spark.sql.Dataset

In [29]:
getType(flightData2015.take(1))

org.apache.spark.sql.Row[]

In [32]:
flightData2015.take(1).getClass.getName

[Lorg.apache.spark.sql.Row;

In [33]:
flightData2015.take(3)

+---------------+---------+-----+
| United States | Romania | 15  |
| United States | Croatia | 1   |
| United States | Ireland | 344 |
+---------------+---------+-----+

In [35]:
flightData2015.printSchema

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

In [36]:
flightData2015.schema

StructType(StructField(DEST_COUNTRY_NAME,StringType,true), StructField(ORIGIN_COUNTRY_NAME,StringType,true), StructField(count,IntegerType,true))

In [37]:
flightData2015.columns

[DEST_COUNTRY_NAME, ORIGIN_COUNTRY_NAME, count]

In [39]:
flightData2015.sort("count").show(5)

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|               Malta|      United States|    1|
|Saint Vincent and...|      United States|    1|
|       United States|            Croatia|    1|
|       United States|          Gibraltar|    1|
|       United States|          Singapore|    1|
+--------------------+-------------------+-----+
only showing top 5 rows

In [42]:
import org.apache.spark.sql.functions.desc
flightData2015.sort(desc("count")).show(5)

+-----------------+-------------------+------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+-----------------+-------------------+------+
|    United States|      United States|370002|
|    United States|             Canada|  8483|
|           Canada|      United States|  8399|
|    United States|             Mexico|  7187|
|           Mexico|      United States|  7140|
+-----------------+-------------------+------+
only showing top 5 rows

In [45]:
flightData2015.sort("count").explain()

== Physical Plan ==
*(2) Sort [count#30 ASC NULLS FIRST], true, 0
+- Exchange rangepartitioning(count#30 ASC NULLS FIRST, 200)
   +- *(1) FileScan csv [DEST_COUNTRY_NAME#28,ORIGIN_COUNTRY_NAME#29,count#30] Batched: false, Format: CSV, Location: InMemoryFileIndex[hdfs://nn01.itversity.com:8020/user/kranthidr/dataSets/spark-guide/flight-data/..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,ORIGIN_COUNTRY_NAME:string,count:int>

In [47]:
spark.conf.set("spark.sql.shuffle.partitions", "5")
flightData2015.sort(desc("count")).take(2)

+---------------+---------------+--------+
| United States | United States | 370002 |
| United States | Canada        | 8483   |
+---------------+---------------+--------+

In [48]:
flightData2015.sort("count").explain()

== Physical Plan ==
*(2) Sort [count#30 ASC NULLS FIRST], true, 0
+- Exchange rangepartitioning(count#30 ASC NULLS FIRST, 5)
   +- *(1) FileScan csv [DEST_COUNTRY_NAME#28,ORIGIN_COUNTRY_NAME#29,count#30] Batched: false, Format: CSV, Location: InMemoryFileIndex[hdfs://nn01.itversity.com:8020/user/kranthidr/dataSets/spark-guide/flight-data/..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,ORIGIN_COUNTRY_NAME:string,count:int>

In [50]:
spark.conf.get("spark.org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter.param.PROXY_URI_BASES")

http://rm01.itversity.com:19288/proxy/application_1540458187951_69701

In [51]:
spark.conf.get("spark.driver.appUIAddress")

http://gw02.itversity.com:4041

In [55]:
flightData2015.createOrReplaceTempView("flight_data_2015")

In [56]:
val sqlWay = spark.sql("""
SELECT DEST_COUNTRY_NAME, COUNT(1) 
FROM flight_data_2015
GROUP BY DEST_COUNTRY_NAME""")


val dataFrameWay = flightData2015.groupBy("DEST_COUNTRY_NAME").count()

sqlWay = [DEST_COUNTRY_NAME: string, count(1): bigint]
dataFrameWay = [DEST_COUNTRY_NAME: string, count: bigint]

[DEST_COUNTRY_NAME: string, count: bigint]

In [58]:
sqlWay.explain()

== Physical Plan ==
*(2) HashAggregate(keys=[DEST_COUNTRY_NAME#28], functions=[count(1)])
+- Exchange hashpartitioning(DEST_COUNTRY_NAME#28, 5)
   +- *(1) HashAggregate(keys=[DEST_COUNTRY_NAME#28], functions=[partial_count(1)])
      +- *(1) FileScan csv [DEST_COUNTRY_NAME#28] Batched: false, Format: CSV, Location: InMemoryFileIndex[hdfs://nn01.itversity.com:8020/user/kranthidr/dataSets/spark-guide/flight-data/..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string>

In [59]:
dataFrameWay.explain()

== Physical Plan ==
*(2) HashAggregate(keys=[DEST_COUNTRY_NAME#28], functions=[count(1)])
+- Exchange hashpartitioning(DEST_COUNTRY_NAME#28, 5)
   +- *(1) HashAggregate(keys=[DEST_COUNTRY_NAME#28], functions=[partial_count(1)])
      +- *(1) FileScan csv [DEST_COUNTRY_NAME#28] Batched: false, Format: CSV, Location: InMemoryFileIndex[hdfs://nn01.itversity.com:8020/user/kranthidr/dataSets/spark-guide/flight-data/..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string>

In [60]:
sqlWay.show(5)
dataFrameWay.show(5)

+--------------------+--------+
|   DEST_COUNTRY_NAME|count(1)|
+--------------------+--------+
|             Moldova|       1|
|             Bolivia|       1|
|             Algeria|       1|
|Turks and Caicos ...|       1|
|            Pakistan|       1|
+--------------------+--------+
only showing top 5 rows

+--------------------+-----+
|   DEST_COUNTRY_NAME|count|
+--------------------+-----+
|             Moldova|    1|
|             Bolivia|    1|
|             Algeria|    1|
|Turks and Caicos ...|    1|
|            Pakistan|    1|
+--------------------+-----+
only showing top 5 rows

In [61]:
spark.sql("SELECT max(count) FROM flight_data_2015").show()

+----------+
|max(count)|
+----------+
|    370002|
+----------+

In [63]:
import org.apache.spark.sql.functions.max
flightData2015.select(max("count")).show()

+----------+
|max(count)|
+----------+
|    370002|
+----------+

In [64]:
val maxSql = spark.sql("""
SELECT DEST_COUNTRY_NAME, SUM(count) AS destination_total
FROM flight_data_2015
GROUP BY DEST_COUNTRY_NAME
ORDER BY destination_total DESC
LIMIT 5""")

maxSql = [DEST_COUNTRY_NAME: string, destination_total: bigint]

[DEST_COUNTRY_NAME: string, destination_total: bigint]

In [65]:
val maxDataFrame = flightData2015.groupBy("DEST_COUNTRY_NAME").sum("count")
.withColumnRenamed("sum(count)", "destination_total")
.sort(desc("destination_total"))
.limit(5)

maxDataFrame = [DEST_COUNTRY_NAME: string, destination_total: bigint]

[DEST_COUNTRY_NAME: string, destination_total: bigint]

In [66]:
maxSql.explain()

== Physical Plan ==
TakeOrderedAndProject(limit=5, orderBy=[destination_total#177L DESC NULLS LAST], output=[DEST_COUNTRY_NAME#28,destination_total#177L])
+- *(2) HashAggregate(keys=[DEST_COUNTRY_NAME#28], functions=[sum(cast(count#30 as bigint))])
   +- Exchange hashpartitioning(DEST_COUNTRY_NAME#28, 5)
      +- *(1) HashAggregate(keys=[DEST_COUNTRY_NAME#28], functions=[partial_sum(cast(count#30 as bigint))])
         +- *(1) FileScan csv [DEST_COUNTRY_NAME#28,count#30] Batched: false, Format: CSV, Location: InMemoryFileIndex[hdfs://nn01.itversity.com:8020/user/kranthidr/dataSets/spark-guide/flight-data/..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,count:int>

In [67]:
maxDataFrame.explain()

== Physical Plan ==
TakeOrderedAndProject(limit=5, orderBy=[destination_total#189L DESC NULLS LAST], output=[DEST_COUNTRY_NAME#28,destination_total#189L])
+- *(2) HashAggregate(keys=[DEST_COUNTRY_NAME#28], functions=[sum(cast(count#30 as bigint))])
   +- Exchange hashpartitioning(DEST_COUNTRY_NAME#28, 5)
      +- *(1) HashAggregate(keys=[DEST_COUNTRY_NAME#28], functions=[partial_sum(cast(count#30 as bigint))])
         +- *(1) FileScan csv [DEST_COUNTRY_NAME#28,count#30] Batched: false, Format: CSV, Location: InMemoryFileIndex[hdfs://nn01.itversity.com:8020/user/kranthidr/dataSets/spark-guide/flight-data/..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,count:int>

In [68]:
maxSql.show(5)

+-----------------+-----------------+
|DEST_COUNTRY_NAME|destination_total|
+-----------------+-----------------+
|    United States|           411352|
|           Canada|             8399|
|           Mexico|             7140|
|   United Kingdom|             2025|
|            Japan|             1548|
+-----------------+-----------------+

In [69]:
maxDataFrame.show(5)

+-----------------+-----------------+
|DEST_COUNTRY_NAME|destination_total|
+-----------------+-----------------+
|    United States|           411352|
|           Canada|             8399|
|           Mexico|             7140|
|   United Kingdom|             2025|
|            Japan|             1548|
+-----------------+-----------------+