In [1]:
spark

Waiting for a Spark session to start...

org.apache.spark.sql.SparkSession@1b24af2c

In [2]:
spark.conf.get("spark.driver.appUIAddress")

Waiting for a Spark session to start...

http://gw02.itversity.com:4053

In [3]:
def getType(o: Any) = o.getClass.getTypeName

getType: (o: Any)String

In [4]:
val os_name = System.getProperty("os.name")
val hdfs_home = "/user/" + System.getenv("HOME").split("/")(2)

os_name = Linux
hdfs_home = /user/kkdosapati

/user/kkdosapati

In [5]:
val path = hdfs_home + "/dataSets/samples/auto_data.csv"

path = /user/kkdosapati/dataSets/samples/auto_data.csv

/user/kkdosapati/dataSets/samples/auto_data.csv

In [6]:
val raw_data1 = spark.read.text(path)

raw_data1 = [value: string]

[value: string]

In [7]:
raw_data1.show(3)

+--------------------+
|               value|
+--------------------+
|MAKE,FUELTYPE,ASP...|
|subaru,gas,std,tw...|
|chevrolet,gas,std...|
+--------------------+
only showing top 3 rows

In [8]:
raw_data1.take(5)

Array([MAKE,FUELTYPE,ASPIRE,DOORS,BODY,DRIVE,CYLINDERS,HP,RPM,MPG-CITY,MPG-HWY,PRICE], [subaru,gas,std,two,hatchback,fwd,four,69,4900,31,36,5118], [chevrolet,gas,std,two,hatchback,fwd,three,48,5100,47,53,5151], [mazda,gas,std,two,hatchback,fwd,four,68,5000,30,31,5195], [toyota,gas,std,two,hatchback,fwd,four,62,4800,35,39,5348])

In [9]:
println(getType(raw_data1))
println(getType(raw_data1.take(1)))
println(getType(raw_data1.take(1)(0)))

org.apache.spark.sql.Dataset
org.apache.spark.sql.Row[]
org.apache.spark.sql.catalyst.expressions.GenericRowWithSchema

In [10]:
val raw_data2 = sc.textFile(path)

raw_data2 = /user/kkdosapati/dataSets/samples/auto_data.csv MapPartitionsRDD[17] at textFile at <console>:31

/user/kkdosapati/dataSets/samples/auto_data.csv MapPartitionsRDD[17] at textFile at <console>:31

In [11]:
raw_data2.take(5)

Array(MAKE,FUELTYPE,ASPIRE,DOORS,BODY,DRIVE,CYLINDERS,HP,RPM,MPG-CITY,MPG-HWY,PRICE, subaru,gas,std,two,hatchback,fwd,four,69,4900,31,36,5118, chevrolet,gas,std,two,hatchback,fwd,three,48,5100,47,53,5151, mazda,gas,std,two,hatchback,fwd,four,68,5000,30,31,5195, toyota,gas,std,two,hatchback,fwd,four,62,4800,35,39,5348)

In [12]:
println(getType(raw_data2))
println(getType(raw_data2.take(1)))
println(getType(raw_data2.take(1)(0)))

org.apache.spark.rdd.MapPartitionsRDD
java.lang.String[]
java.lang.String

In [13]:
val raw_data2DF1 = raw_data2.toDF()
raw_data2DF1.show(5)

+--------------------+
|               value|
+--------------------+
|MAKE,FUELTYPE,ASP...|
|subaru,gas,std,tw...|
|chevrolet,gas,std...|
|mazda,gas,std,two...|
|toyota,gas,std,tw...|
+--------------------+
only showing top 5 rows

raw_data2DF1 = [value: string]

[value: string]

In [14]:
println(getType(raw_data2DF1))
println(getType(raw_data2DF1.take(1)))
println(getType(raw_data2DF1.take(1)(0)))

org.apache.spark.sql.Dataset
org.apache.spark.sql.Row[]
org.apache.spark.sql.catalyst.expressions.GenericRowWithSchema

In [15]:
import org.apache.spark.sql.Row

//val raw_data2DF2 = raw_data2.map(x => Row(x)).toDF("k")
//val raw_data2DF3 = raw_data2.map(x => Row(x)).toDF()
//raw_data2DF2.show(2)
//raw_data2DF3.show(2)
//error: value toDF is not a member of org.apache.spark.rdd.RDD[org.apache.spark.sql.Row]

In [16]:
val raw_dataDF1 = raw_data1.toDF("k")
val raw_dataDF2 = raw_data1.toDF()

raw_dataDF1 = [k: string]
raw_dataDF2 = [value: string]

[value: string]

In [17]:
raw_dataDF1.show(2)

+--------------------+
|                   k|
+--------------------+
|MAKE,FUELTYPE,ASP...|
|subaru,gas,std,tw...|
+--------------------+
only showing top 2 rows

In [18]:
raw_dataDF2.show(2)

+--------------------+
|               value|
+--------------------+
|MAKE,FUELTYPE,ASP...|
|subaru,gas,std,tw...|
+--------------------+
only showing top 2 rows

In [19]:
raw_dataDF1.printSchema()
raw_dataDF2.printSchema()
raw_data2DF1.printSchema()

root
 |-- k: string (nullable = true)

root
 |-- value: string (nullable = true)

root
 |-- value: string (nullable = true)

In [20]:
val raw_dataDF = raw_data1.toDF("value")
val d1  = raw_dataDF.selectExpr("split(value, ',') as value")

raw_dataDF = [value: string]
d1 = [value: array<string>]

[value: array<string>]

In [21]:
d1.printSchema()

root
 |-- value: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [22]:
println(getType(d1))
println(getType(d1.take(1)))
println(getType(d1.take(1)(0)))

org.apache.spark.sql.Dataset
org.apache.spark.sql.Row[]
org.apache.spark.sql.catalyst.expressions.GenericRowWithSchema

In [23]:
d1.show(4)

+--------------------+
|               value|
+--------------------+
|[MAKE, FUELTYPE, ...|
|[subaru, gas, std...|
|[chevrolet, gas, ...|
|[mazda, gas, std,...|
+--------------------+
only showing top 4 rows

In [24]:
val d2 = d1.selectExpr("value[0]", "value[1]", "value[2]", "value[3]", "value[4]", "value[5]", "value[6]", "value[7]")

d2 = [value[0]: string, value[1]: string ... 6 more fields]

[value[0]: string, value[1]: string ... 6 more fields]

In [25]:
d2.show(3)

+---------+--------+--------+--------+---------+--------+---------+--------+
| value[0]|value[1]|value[2]|value[3]| value[4]|value[5]| value[6]|value[7]|
+---------+--------+--------+--------+---------+--------+---------+--------+
|     MAKE|FUELTYPE|  ASPIRE|   DOORS|     BODY|   DRIVE|CYLINDERS|      HP|
|   subaru|     gas|     std|     two|hatchback|     fwd|     four|      69|
|chevrolet|     gas|     std|     two|hatchback|     fwd|    three|      48|
+---------+--------+--------+--------+---------+--------+---------+--------+
only showing top 3 rows

In [26]:
d2.printSchema()

root
 |-- value[0]: string (nullable = true)
 |-- value[1]: string (nullable = true)
 |-- value[2]: string (nullable = true)
 |-- value[3]: string (nullable = true)
 |-- value[4]: string (nullable = true)
 |-- value[5]: string (nullable = true)
 |-- value[6]: string (nullable = true)
 |-- value[7]: string (nullable = true)

In [27]:
val df = spark.read.option("header", true).option("inferSchema", true).csv(path)

df = [MAKE: string, FUELTYPE: string ... 10 more fields]

[MAKE: string, FUELTYPE: string ... 10 more fields]

In [28]:
df.show(3)

+---------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
|     MAKE|FUELTYPE|ASPIRE|DOORS|     BODY|DRIVE|CYLINDERS| HP| RPM|MPG-CITY|MPG-HWY|PRICE|
+---------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
|   subaru|     gas|   std|  two|hatchback|  fwd|     four| 69|4900|      31|     36| 5118|
|chevrolet|     gas|   std|  two|hatchback|  fwd|    three| 48|5100|      47|     53| 5151|
|    mazda|     gas|   std|  two|hatchback|  fwd|     four| 68|5000|      30|     31| 5195|
+---------+--------+------+-----+---------+-----+---------+---+----+--------+-------+-----+
only showing top 3 rows

In [29]:
df.printSchema

root
 |-- MAKE: string (nullable = true)
 |-- FUELTYPE: string (nullable = true)
 |-- ASPIRE: string (nullable = true)
 |-- DOORS: string (nullable = true)
 |-- BODY: string (nullable = true)
 |-- DRIVE: string (nullable = true)
 |-- CYLINDERS: string (nullable = true)
 |-- HP: integer (nullable = true)
 |-- RPM: integer (nullable = true)
 |-- MPG-CITY: integer (nullable = true)
 |-- MPG-HWY: integer (nullable = true)
 |-- PRICE: integer (nullable = true)