In [1]:
spark

Waiting for a Spark session to start...

org.apache.spark.sql.SparkSession@4db1a64a

In [2]:
spark.conf.getAll.foreach(println)

Waiting for a Spark session to start...

(spark.sql.warehouse.dir,/apps/hive/warehouse)
(spark.history.kerberos.keytab,none)
(spark.driver.host,gw02.itversity.com)
(spark.history.fs.logDirectory,hdfs:///spark2-history/)
(spark.eventLog.enabled,true)
(spark.driver.port,56874)
(spark.shuffle.service.enabled,true)
(spark.driver.extraLibraryPath,/usr/hdp/current/hadoop-client/lib/native:/usr/hdp/current/hadoop-client/lib/native/Linux-amd64-64)
(spark.yarn.queue,default)
(spark.repl.class.uri,spark://gw02.itversity.com:56874/classes)
(spark.jars,file:/home/kkdosapati/.local/share/jupyter/kernels/my_spark_scala/lib/toree-assembly-0.3.0-incubating.jar)
(spark.yarn.historyServer.address,nn02.itversity.com:18081)
(spark.repl.class.outputDir,/tmp/spark-657ee9f1-1ce3-422c-8351-7c80d340fcc8/repl-976970d1-27b1-42ed-a69c-7e5eaaa17e58)
(spark.app.name,Apache Toree)
(spark.history.kerberos.principal,none)
(spark.yarn.secondary.jars,graphframes_graphframes-0.6.0-spark2.3-s_2.11.jar,mysql_mysql-connector-java-5.1.6.jar,org.xerial_sqlite-jdbc-3.23.1.jar,org.mongodb.spark_mongo-spark-connector_2.11-2.3.0.jar,com.datastax.spark_spark-cassandra-connector_2.11-2.3.1.jar,com.databricks_spark-avro_2.11-4.0.0.jar,com.typesafe.scala-logging_scala-logging-api_2.11-2.1.2.jar,com.typesafe.scala-logging_scala-logging-slf4j_2.11-2.1.2.jar,org.slf4j_slf4j-api-1.7.7.jar,org.mongodb_mongo-java-driver-3.8.0.jar,commons-beanutils_commons-beanutils-1.9.3.jar,joda-time_joda-time-2.3.jar,org.joda_joda-convert-1.2.jar,io.netty_netty-all-4.0.33.Final.jar,com.twitter_jsr166e-1.1.0.jar,org.scala-lang_scala-reflect-2.11.8.jar,commons-collections_commons-collections-3.2.2.jar,org.apache.avro_avro-1.7.6.jar,org.codehaus.jackson_jackson-core-asl-1.9.13.jar,org.codehaus.jackson_jackson-mapper-asl-1.9.13.jar,com.thoughtworks.paranamer_paranamer-2.3.jar,org.xerial.snappy_snappy-java-1.0.5.jar,org.apache.commons_commons-compress-1.4.1.jar,org.tukaani_xz-1.0.jar)
(spark.history.fs.cleaner.enabled,true)
(spark.dynamicAllocation.maxExecutors,10)
(spark.executor.id,driver)
(spark.submit.deployMode,client)
(spark.master,yarn)
(spark.history.fs.cleaner.interval,1d)
(spark.history.fs.cleaner.maxAge,30d)
(spark.ui.filters,org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter)
(spark.history.provider,org.apache.spark.deploy.history.FsHistoryProvider)
(spark.executor.extraLibraryPath,/usr/hdp/current/hadoop-client/lib/native:/usr/hdp/current/hadoop-client/lib/native/Linux-amd64-64)
(spark.eventLog.dir,hdfs:///spark2-history/)
(spark.dynamicAllocation.enabled,true)
(spark.sql.catalogImplementation,hive)
(spark.history.ui.port,18081)
(spark.driver.appUIAddress,http://gw02.itversity.com:4048)
(spark.repl.local.jars,file:///home/kkdosapati/.ivy2/jars/graphframes_graphframes-0.6.0-spark2.3-s_2.11.jar,file:///home/kkdosapati/.ivy2/jars/mysql_mysql-connector-java-5.1.6.jar,file:///home/kkdosapati/.ivy2/jars/org.xerial_sqlite-jdbc-3.23.1.jar,file:///home/kkdosapati/.ivy2/jars/org.mongodb.spark_mongo-spark-connector_2.11-2.3.0.jar,file:///home/kkdosapati/.ivy2/jars/com.datastax.spark_spark-cassandra-connector_2.11-2.3.1.jar,file:///home/kkdosapati/.ivy2/jars/com.databricks_spark-avro_2.11-4.0.0.jar,file:///home/kkdosapati/.ivy2/jars/com.typesafe.scala-logging_scala-logging-api_2.11-2.1.2.jar,file:///home/kkdosapati/.ivy2/jars/com.typesafe.scala-logging_scala-logging-slf4j_2.11-2.1.2.jar,file:///home/kkdosapati/.ivy2/jars/org.slf4j_slf4j-api-1.7.7.jar,file:///home/kkdosapati/.ivy2/jars/org.mongodb_mongo-java-driver-3.8.0.jar,file:///home/kkdosapati/.ivy2/jars/commons-beanutils_commons-beanutils-1.9.3.jar,file:///home/kkdosapati/.ivy2/jars/joda-time_joda-time-2.3.jar,file:///home/kkdosapati/.ivy2/jars/org.joda_joda-convert-1.2.jar,file:///home/kkdosapati/.ivy2/jars/io.netty_netty-all-4.0.33.Final.jar,file:///home/kkdosapati/.ivy2/jars/com.twitter_jsr166e-1.1.0.jar,file:///home/kkdosapati/.ivy2/jars/org.scala-lang_scala-reflect-2.11.8.jar,file:///home/kkdosapati/.ivy2/jars/commons-collections_commons-collections-3.2.2.jar,file:///home/kkdosapati/.ivy2/jars/org.apache.avro_avro-1.7.6.jar,file:///home/kkdosapati/.ivy2/jars/org.codehaus.jackson_jackson-core-asl-1.9.13.jar,file:///home/kkdosapati/.ivy2/jars/org.codehaus.jackson_jackson-mapper-asl-1.9.13.jar,file:///home/kkdosapati/.ivy2/jars/com.thoughtworks.paranamer_paranamer-2.3.jar,file:///home/kkdosapati/.ivy2/jars/org.xerial.snappy_snappy-java-1.0.5.jar,file:///home/kkdosapati/.ivy2/jars/org.apache.commons_commons-compress-1.4.1.jar,file:///home/kkdosapati/.ivy2/jars/org.tukaani_xz-1.0.jar)
(spark.org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter.param.PROXY_HOSTS,rm01.itversity.com)
(spark.dynamicAllocation.minExecutors,0)
(spark.dynamicAllocation.initialExecutors,2)
(spark.org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter.param.PROXY_URI_BASES,http://rm01.itversity.com:19088/proxy/application_1589064448439_38673)
(spark.dynamicAllocation.executorIdleTimeout,120s)
(spark.yarn.dist.jars,file:///home/kkdosapati/.ivy2/jars/graphframes_graphframes-0.6.0-spark2.3-s_2.11.jar,file:///home/kkdosapati/.ivy2/jars/mysql_mysql-connector-java-5.1.6.jar,file:///home/kkdosapati/.ivy2/jars/org.xerial_sqlite-jdbc-3.23.1.jar,file:///home/kkdosapati/.ivy2/jars/org.mongodb.spark_mongo-spark-connector_2.11-2.3.0.jar,file:///home/kkdosapati/.ivy2/jars/com.datastax.spark_spark-cassandra-connector_2.11-2.3.1.jar,file:///home/kkdosapati/.ivy2/jars/com.databricks_spark-avro_2.11-4.0.0.jar,file:///home/kkdosapati/.ivy2/jars/com.typesafe.scala-logging_scala-logging-api_2.11-2.1.2.jar,file:///home/kkdosapati/.ivy2/jars/com.typesafe.scala-logging_scala-logging-slf4j_2.11-2.1.2.jar,file:///home/kkdosapati/.ivy2/jars/org.slf4j_slf4j-api-1.7.7.jar,file:///home/kkdosapati/.ivy2/jars/org.mongodb_mongo-java-driver-3.8.0.jar,file:///home/kkdosapati/.ivy2/jars/commons-beanutils_commons-beanutils-1.9.3.jar,file:///home/kkdosapati/.ivy2/jars/joda-time_joda-time-2.3.jar,file:///home/kkdosapati/.ivy2/jars/org.joda_joda-convert-1.2.jar,file:///home/kkdosapati/.ivy2/jars/io.netty_netty-all-4.0.33.Final.jar,file:///home/kkdosapati/.ivy2/jars/com.twitter_jsr166e-1.1.0.jar,file:///home/kkdosapati/.ivy2/jars/org.scala-lang_scala-reflect-2.11.8.jar,file:///home/kkdosapati/.ivy2/jars/commons-collections_commons-collections-3.2.2.jar,file:///home/kkdosapati/.ivy2/jars/org.apache.avro_avro-1.7.6.jar,file:///home/kkdosapati/.ivy2/jars/org.codehaus.jackson_jackson-core-asl-1.9.13.jar,file:///home/kkdosapati/.ivy2/jars/org.codehaus.jackson_jackson-mapper-asl-1.9.13.jar,file:///home/kkdosapati/.ivy2/jars/com.thoughtworks.paranamer_paranamer-2.3.jar,file:///home/kkdosapati/.ivy2/jars/org.xerial.snappy_snappy-java-1.0.5.jar,file:///home/kkdosapati/.ivy2/jars/org.apache.commons_commons-compress-1.4.1.jar,file:///home/kkdosapati/.ivy2/jars/org.tukaani_xz-1.0.jar)
(spark.app.id,application_1589064448439_38673)

In [3]:
sc.getConf.getAll.filter(_._2.contains("/proxy/"))(0)._2

http://rm01.itversity.com:19088/proxy/application_1589064448439_38673

In [4]:
sc.getConf.getAll.foreach(println)

(spark.history.kerberos.keytab,none)
(spark.repl.class.uri,spark://gw02.itversity.com:56874/classes)
(spark.dynamicAllocation.initialExecutors,2)
(spark.eventLog.enabled,true)
(spark.driver.appUIAddress,http://gw02.itversity.com:4048)
(spark.history.ui.port,18081)
(spark.dynamicAllocation.maxExecutors,10)
(spark.driver.extraLibraryPath,/usr/hdp/current/hadoop-client/lib/native:/usr/hdp/current/hadoop-client/lib/native/Linux-amd64-64)
(spark.app.name,Apache Toree)
(spark.executor.extraLibraryPath,/usr/hdp/current/hadoop-client/lib/native:/usr/hdp/current/hadoop-client/lib/native/Linux-amd64-64)
(spark.repl.local.jars,file:///home/kkdosapati/.ivy2/jars/graphframes_graphframes-0.6.0-spark2.3-s_2.11.jar,file:///home/kkdosapati/.ivy2/jars/mysql_mysql-connector-java-5.1.6.jar,file:///home/kkdosapati/.ivy2/jars/org.xerial_sqlite-jdbc-3.23.1.jar,file:///home/kkdosapati/.ivy2/jars/org.mongodb.spark_mongo-spark-connector_2.11-2.3.0.jar,file:///home/kkdosapati/.ivy2/jars/com.datastax.spark_spark-cassandra-connector_2.11-2.3.1.jar,file:///home/kkdosapati/.ivy2/jars/com.databricks_spark-avro_2.11-4.0.0.jar,file:///home/kkdosapati/.ivy2/jars/com.typesafe.scala-logging_scala-logging-api_2.11-2.1.2.jar,file:///home/kkdosapati/.ivy2/jars/com.typesafe.scala-logging_scala-logging-slf4j_2.11-2.1.2.jar,file:///home/kkdosapati/.ivy2/jars/org.slf4j_slf4j-api-1.7.7.jar,file:///home/kkdosapati/.ivy2/jars/org.mongodb_mongo-java-driver-3.8.0.jar,file:///home/kkdosapati/.ivy2/jars/commons-beanutils_commons-beanutils-1.9.3.jar,file:///home/kkdosapati/.ivy2/jars/joda-time_joda-time-2.3.jar,file:///home/kkdosapati/.ivy2/jars/org.joda_joda-convert-1.2.jar,file:///home/kkdosapati/.ivy2/jars/io.netty_netty-all-4.0.33.Final.jar,file:///home/kkdosapati/.ivy2/jars/com.twitter_jsr166e-1.1.0.jar,file:///home/kkdosapati/.ivy2/jars/org.scala-lang_scala-reflect-2.11.8.jar,file:///home/kkdosapati/.ivy2/jars/commons-collections_commons-collections-3.2.2.jar,file:///home/kkdosapati/.ivy2/jars/org.apache.avro_avro-1.7.6.jar,file:///home/kkdosapati/.ivy2/jars/org.codehaus.jackson_jackson-core-asl-1.9.13.jar,file:///home/kkdosapati/.ivy2/jars/org.codehaus.jackson_jackson-mapper-asl-1.9.13.jar,file:///home/kkdosapati/.ivy2/jars/com.thoughtworks.paranamer_paranamer-2.3.jar,file:///home/kkdosapati/.ivy2/jars/org.xerial.snappy_snappy-java-1.0.5.jar,file:///home/kkdosapati/.ivy2/jars/org.apache.commons_commons-compress-1.4.1.jar,file:///home/kkdosapati/.ivy2/jars/org.tukaani_xz-1.0.jar)
(spark.jars,file:/home/kkdosapati/.local/share/jupyter/kernels/my_spark_scala/lib/toree-assembly-0.3.0-incubating.jar)
(spark.history.provider,org.apache.spark.deploy.history.FsHistoryProvider)
(spark.org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter.param.PROXY_HOSTS,rm01.itversity.com)
(spark.history.fs.cleaner.maxAge,30d)
(spark.submit.deployMode,client)
(spark.history.fs.cleaner.interval,1d)
(spark.ui.filters,org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter)
(spark.eventLog.dir,hdfs:///spark2-history/)
(spark.dynamicAllocation.executorIdleTimeout,120s)
(spark.shuffle.service.enabled,true)
(spark.yarn.queue,default)
(spark.executor.id,driver)
(spark.driver.host,gw02.itversity.com)
(spark.org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter.param.PROXY_URI_BASES,http://rm01.itversity.com:19088/proxy/application_1589064448439_38673)
(spark.yarn.dist.jars,file:///home/kkdosapati/.ivy2/jars/graphframes_graphframes-0.6.0-spark2.3-s_2.11.jar,file:///home/kkdosapati/.ivy2/jars/mysql_mysql-connector-java-5.1.6.jar,file:///home/kkdosapati/.ivy2/jars/org.xerial_sqlite-jdbc-3.23.1.jar,file:///home/kkdosapati/.ivy2/jars/org.mongodb.spark_mongo-spark-connector_2.11-2.3.0.jar,file:///home/kkdosapati/.ivy2/jars/com.datastax.spark_spark-cassandra-connector_2.11-2.3.1.jar,file:///home/kkdosapati/.ivy2/jars/com.databricks_spark-avro_2.11-4.0.0.jar,file:///home/kkdosapati/.ivy2/jars/com.typesafe.scala-logging_scala-logging-api_2.11-2.1.2.jar,file:///home/kkdosapati/.ivy2/jars/com.typesafe.scala-logging_scala-logging-slf4j_2.11-2.1.2.jar,file:///home/kkdosapati/.ivy2/jars/org.slf4j_slf4j-api-1.7.7.jar,file:///home/kkdosapati/.ivy2/jars/org.mongodb_mongo-java-driver-3.8.0.jar,file:///home/kkdosapati/.ivy2/jars/commons-beanutils_commons-beanutils-1.9.3.jar,file:///home/kkdosapati/.ivy2/jars/joda-time_joda-time-2.3.jar,file:///home/kkdosapati/.ivy2/jars/org.joda_joda-convert-1.2.jar,file:///home/kkdosapati/.ivy2/jars/io.netty_netty-all-4.0.33.Final.jar,file:///home/kkdosapati/.ivy2/jars/com.twitter_jsr166e-1.1.0.jar,file:///home/kkdosapati/.ivy2/jars/org.scala-lang_scala-reflect-2.11.8.jar,file:///home/kkdosapati/.ivy2/jars/commons-collections_commons-collections-3.2.2.jar,file:///home/kkdosapati/.ivy2/jars/org.apache.avro_avro-1.7.6.jar,file:///home/kkdosapati/.ivy2/jars/org.codehaus.jackson_jackson-core-asl-1.9.13.jar,file:///home/kkdosapati/.ivy2/jars/org.codehaus.jackson_jackson-mapper-asl-1.9.13.jar,file:///home/kkdosapati/.ivy2/jars/com.thoughtworks.paranamer_paranamer-2.3.jar,file:///home/kkdosapati/.ivy2/jars/org.xerial.snappy_snappy-java-1.0.5.jar,file:///home/kkdosapati/.ivy2/jars/org.apache.commons_commons-compress-1.4.1.jar,file:///home/kkdosapati/.ivy2/jars/org.tukaani_xz-1.0.jar)
(spark.history.fs.cleaner.enabled,true)
(spark.app.id,application_1589064448439_38673)
(spark.repl.class.outputDir,/tmp/spark-657ee9f1-1ce3-422c-8351-7c80d340fcc8/repl-976970d1-27b1-42ed-a69c-7e5eaaa17e58)
(spark.history.fs.logDirectory,hdfs:///spark2-history/)
(spark.master,yarn)
(spark.driver.port,56874)
(spark.sql.catalogImplementation,hive)
(spark.history.kerberos.principal,none)
(spark.yarn.secondary.jars,graphframes_graphframes-0.6.0-spark2.3-s_2.11.jar,mysql_mysql-connector-java-5.1.6.jar,org.xerial_sqlite-jdbc-3.23.1.jar,org.mongodb.spark_mongo-spark-connector_2.11-2.3.0.jar,com.datastax.spark_spark-cassandra-connector_2.11-2.3.1.jar,com.databricks_spark-avro_2.11-4.0.0.jar,com.typesafe.scala-logging_scala-logging-api_2.11-2.1.2.jar,com.typesafe.scala-logging_scala-logging-slf4j_2.11-2.1.2.jar,org.slf4j_slf4j-api-1.7.7.jar,org.mongodb_mongo-java-driver-3.8.0.jar,commons-beanutils_commons-beanutils-1.9.3.jar,joda-time_joda-time-2.3.jar,org.joda_joda-convert-1.2.jar,io.netty_netty-all-4.0.33.Final.jar,com.twitter_jsr166e-1.1.0.jar,org.scala-lang_scala-reflect-2.11.8.jar,commons-collections_commons-collections-3.2.2.jar,org.apache.avro_avro-1.7.6.jar,org.codehaus.jackson_jackson-core-asl-1.9.13.jar,org.codehaus.jackson_jackson-mapper-asl-1.9.13.jar,com.thoughtworks.paranamer_paranamer-2.3.jar,org.xerial.snappy_snappy-java-1.0.5.jar,org.apache.commons_commons-compress-1.4.1.jar,org.tukaani_xz-1.0.jar)
(spark.dynamicAllocation.minExecutors,0)
(spark.dynamicAllocation.enabled,true)
(spark.yarn.historyServer.address,nn02.itversity.com:18081)
(spark.sql.warehouse.dir,/apps/hive/warehouse)

In [5]:
def getType(o: Any) = o.getClass.getCanonicalName

getType: (o: Any)String

In [6]:
getType(spark)

org.apache.spark.sql.SparkSession

In [7]:
getType(sc)

org.apache.spark.SparkContext

In [8]:
val os_name = System.getProperty("os.name")
val hdfs_home = "/user/" + System.getenv("HOME").split("/")(2)

os_name = Linux
hdfs_home = /user/kkdosapati

/user/kkdosapati

In [9]:
// import platform,os
// os_name = platform.system()
// hdfs_home = "/user/" + os.getenv("HOME").split("/")[2]
// print(hdfs_home)
// print(os_name)

Name: Syntax Error.
Message:
StackTrace:

In [10]:
//val path = hdfs_home + "/dataSets/spark-guide/flight-data/csv/2015-summary.csv"
val path = "/user/kkdosapati/dataSets/spark-guide/flight-data/csv/2015-summary.csv"

path = /user/kkdosapati/dataSets/spark-guide/flight-data/csv/2015-summary.csv

/user/kkdosapati/dataSets/spark-guide/flight-data/csv/2015-summary.csv

In [11]:
// import findspark
// findspark.init('/usr/hdp/current/spark2-client')
// findspark.find()

// import pyspark

// from pyspark.sql import SparkSession
// spark = SparkSession.builder.master("yarn").appName("ch02Introduction").getOrCreate()

Name: Syntax Error.
Message:
StackTrace:

In [12]:
print(spark.version)

2.3.0.2.6.5.0-292

In [13]:
sc.getConf.getAll

Array((spark.history.kerberos.keytab,none), (spark.repl.class.uri,spark://gw02.itversity.com:56874/classes), (spark.dynamicAllocation.initialExecutors,2), (spark.eventLog.enabled,true), (spark.driver.appUIAddress,http://gw02.itversity.com:4048), (spark.history.ui.port,18081), (spark.dynamicAllocation.maxExecutors,10), (spark.driver.extraLibraryPath,/usr/hdp/current/hadoop-client/lib/native:/usr/hdp/current/hadoop-client/lib/native/Linux-amd64-64), (spark.app.name,Apache Toree), (spark.executor.extraLibraryPath,/usr/hdp/current/hadoop-client/lib/native:/usr/hdp/current/hadoop-client/lib/native/Linux-amd64-64), (spark.repl.local.jars,file:///home/kkdosapati/.ivy2/jars/graphframes_graphframes-0.6.0-spark2.3-s_2.11.jar,file:///home/kkdosapati/.ivy2/jars/mysq...

In [14]:
// for x in sc._conf.getAll():
//     if 'PROXY' in x[1]:
//         print(x[1])

//sc._jsc.sc().uiWebUrl().get()

Name: Syntax Error.
Message:
StackTrace:

In [15]:
sc.getConf.getAll.foreach(x=>if(x._2.contains("/proxy/")){println(x._2)})
sc.getConf.getAll.filter(_._2.contains("/proxy/"))(0)._2

http://rm01.itversity.com:19088/proxy/application_1589064448439_38673

http://rm01.itversity.com:19088/proxy/application_1589064448439_38673

In [16]:
val myRange = spark.range(1000).toDF("number")

myRange = [number: bigint]

[number: bigint]

In [17]:
myRange.show(5)

+------+
|number|
+------+
|     0|
|     1|
|     2|
|     3|
|     4|
+------+
only showing top 5 rows

In [18]:
getType(myRange)

org.apache.spark.sql.Dataset

In [19]:
myRange.getClass.getName

org.apache.spark.sql.Dataset

In [20]:
myRange.take(3)

Array([0], [1], [2])

In [21]:
getType(myRange.take(3))

org.apache.spark.sql.Row[]

In [22]:
getType(myRange.take(3)(0))

org.apache.spark.sql.catalyst.expressions.GenericRowWithSchema

In [23]:
myRange.count()

1000

In [24]:
val divisBy2 = myRange.where("number%2 = 0") //both = and == works

divisBy2 = [number: bigint]

[number: bigint]

In [25]:
divisBy2.show(5)

+------+
|number|
+------+
|     0|
|     2|
|     4|
|     6|
|     8|
+------+
only showing top 5 rows

In [26]:
import sys.process._

In [27]:
"pwd" !

/home/kkdosapati/gitWorkspace/ml_lab/spark-scala/spark-tdg

warning: there was one feature warning; re-run with -feature for details

0

In [28]:
val flightData2015 = spark.read.option("inferSchema", true)
                .option("header", true)
                .csv(path)

flightData2015 = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [29]:
getType(flightData2015)

org.apache.spark.sql.Dataset

In [30]:
getType(flightData2015.take(1))

org.apache.spark.sql.Row[]

In [31]:
flightData2015.take(1).getClass.getName

[Lorg.apache.spark.sql.Row;

In [32]:
flightData2015.take(3)

Array([United States,Romania,15], [United States,Croatia,1], [United States,Ireland,344])

In [33]:
getType(flightData2015.take(1)(0))

org.apache.spark.sql.catalyst.expressions.GenericRowWithSchema

In [34]:
flightData2015.printSchema

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

In [35]:
flightData2015.schema

StructType(StructField(DEST_COUNTRY_NAME,StringType,true), StructField(ORIGIN_COUNTRY_NAME,StringType,true), StructField(count,IntegerType,true))

In [36]:
flightData2015.columns

Array(DEST_COUNTRY_NAME, ORIGIN_COUNTRY_NAME, count)

In [37]:
flightData2015.sort("count").show(5)

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|               Malta|      United States|    1|
|Saint Vincent and...|      United States|    1|
|       United States|            Croatia|    1|
|       United States|          Gibraltar|    1|
|       United States|          Singapore|    1|
+--------------------+-------------------+-----+
only showing top 5 rows

In [38]:
import org.apache.spark.sql.functions.desc
flightData2015.sort(desc("count")).show(5)

+-----------------+-------------------+------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+-----------------+-------------------+------+
|    United States|      United States|370002|
|    United States|             Canada|  8483|
|           Canada|      United States|  8399|
|    United States|             Mexico|  7187|
|           Mexico|      United States|  7140|
+-----------------+-------------------+------+
only showing top 5 rows

In [39]:
flightData2015.sort("count").explain()

== Physical Plan ==
*(2) Sort [count#37 ASC NULLS FIRST], true, 0
+- Exchange rangepartitioning(count#37 ASC NULLS FIRST, 200)
   +- *(1) FileScan csv [DEST_COUNTRY_NAME#35,ORIGIN_COUNTRY_NAME#36,count#37] Batched: false, Format: CSV, Location: InMemoryFileIndex[hdfs://nn01.itversity.com:8020/user/kkdosapati/dataSets/spark-guide/flight-data..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,ORIGIN_COUNTRY_NAME:string,count:int>

In [40]:
spark.conf.set("spark.sql.shuffle.partitions", "5")
flightData2015.sort(desc("count")).take(2)

Array([United States,United States,370002], [United States,Canada,8483])

In [41]:
flightData2015.sort("count").explain()

== Physical Plan ==
*(2) Sort [count#37 ASC NULLS FIRST], true, 0
+- Exchange rangepartitioning(count#37 ASC NULLS FIRST, 5)
   +- *(1) FileScan csv [DEST_COUNTRY_NAME#35,ORIGIN_COUNTRY_NAME#36,count#37] Batched: false, Format: CSV, Location: InMemoryFileIndex[hdfs://nn01.itversity.com:8020/user/kkdosapati/dataSets/spark-guide/flight-data..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,ORIGIN_COUNTRY_NAME:string,count:int>

In [42]:
spark.conf.get("spark.org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter.param.PROXY_URI_BASES")

http://rm01.itversity.com:19088/proxy/application_1589064448439_38673

In [43]:
spark.conf.get("spark.driver.appUIAddress")

http://gw02.itversity.com:4048

In [44]:
flightData2015.createOrReplaceTempView("flight_data_2015")

In [45]:
val sqlWay = spark.sql("""
SELECT DEST_COUNTRY_NAME, COUNT(1) 
FROM flight_data_2015
GROUP BY DEST_COUNTRY_NAME""")

sqlWay = [DEST_COUNTRY_NAME: string, count(1): bigint]

[DEST_COUNTRY_NAME: string, count(1): bigint]

In [46]:
val dataFrameWay = flightData2015.groupBy("DEST_COUNTRY_NAME").count().orderBy(desc("count"))

dataFrameWay = [DEST_COUNTRY_NAME: string, count: bigint]

[DEST_COUNTRY_NAME: string, count: bigint]

In [47]:
sqlWay.explain()

== Physical Plan ==
*(2) HashAggregate(keys=[DEST_COUNTRY_NAME#35], functions=[count(1)])
+- Exchange hashpartitioning(DEST_COUNTRY_NAME#35, 5)
   +- *(1) HashAggregate(keys=[DEST_COUNTRY_NAME#35], functions=[partial_count(1)])
      +- *(1) FileScan csv [DEST_COUNTRY_NAME#35] Batched: false, Format: CSV, Location: InMemoryFileIndex[hdfs://nn01.itversity.com:8020/user/kkdosapati/dataSets/spark-guide/flight-data..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string>

In [48]:
dataFrameWay.explain()

== Physical Plan ==
*(3) Sort [count#105L DESC NULLS LAST], true, 0
+- Exchange rangepartitioning(count#105L DESC NULLS LAST, 5)
   +- *(2) HashAggregate(keys=[DEST_COUNTRY_NAME#35], functions=[count(1)])
      +- Exchange hashpartitioning(DEST_COUNTRY_NAME#35, 5)
         +- *(1) HashAggregate(keys=[DEST_COUNTRY_NAME#35], functions=[partial_count(1)])
            +- *(1) FileScan csv [DEST_COUNTRY_NAME#35] Batched: false, Format: CSV, Location: InMemoryFileIndex[hdfs://nn01.itversity.com:8020/user/kkdosapati/dataSets/spark-guide/flight-data..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string>

In [49]:
sqlWay.show(5)
dataFrameWay.show(5)

+--------------------+--------+
|   DEST_COUNTRY_NAME|count(1)|
+--------------------+--------+
|             Moldova|       1|
|             Bolivia|       1|
|             Algeria|       1|
|Turks and Caicos ...|       1|
|            Pakistan|       1|
+--------------------+--------+
only showing top 5 rows

+--------------------+-----+
|   DEST_COUNTRY_NAME|count|
+--------------------+-----+
|       United States|  125|
|    Marshall Islands|    1|
|             Bolivia|    1|
|             Algeria|    1|
|Turks and Caicos ...|    1|
+--------------------+-----+
only showing top 5 rows

In [50]:
spark.sql("SELECT max(count) FROM flight_data_2015").show()

+----------+
|max(count)|
+----------+
|    370002|
+----------+

In [51]:
import org.apache.spark.sql.functions.max
flightData2015.select(max("count")).show()

+----------+
|max(count)|
+----------+
|    370002|
+----------+

In [52]:
val maxSql = spark.sql("""
SELECT DEST_COUNTRY_NAME, SUM(count) AS destination_total
FROM flight_data_2015
GROUP BY DEST_COUNTRY_NAME
ORDER BY destination_total DESC
LIMIT 5""")

maxSql = [DEST_COUNTRY_NAME: string, destination_total: bigint]

[DEST_COUNTRY_NAME: string, destination_total: bigint]

In [53]:
val maxDataFrame = flightData2015.groupBy("DEST_COUNTRY_NAME").sum("count")
.withColumnRenamed("sum(count)", "destination_total")
.sort(desc("destination_total"))
.limit(5)

maxDataFrame = [DEST_COUNTRY_NAME: string, destination_total: bigint]

[DEST_COUNTRY_NAME: string, destination_total: bigint]

In [54]:
maxSql.explain()

== Physical Plan ==
TakeOrderedAndProject(limit=5, orderBy=[destination_total#159L DESC NULLS LAST], output=[DEST_COUNTRY_NAME#35,destination_total#159L])
+- *(2) HashAggregate(keys=[DEST_COUNTRY_NAME#35], functions=[sum(cast(count#37 as bigint))])
   +- Exchange hashpartitioning(DEST_COUNTRY_NAME#35, 5)
      +- *(1) HashAggregate(keys=[DEST_COUNTRY_NAME#35], functions=[partial_sum(cast(count#37 as bigint))])
         +- *(1) FileScan csv [DEST_COUNTRY_NAME#35,count#37] Batched: false, Format: CSV, Location: InMemoryFileIndex[hdfs://nn01.itversity.com:8020/user/kkdosapati/dataSets/spark-guide/flight-data..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,count:int>

In [55]:
maxDataFrame.explain()

== Physical Plan ==
TakeOrderedAndProject(limit=5, orderBy=[destination_total#171L DESC NULLS LAST], output=[DEST_COUNTRY_NAME#35,destination_total#171L])
+- *(2) HashAggregate(keys=[DEST_COUNTRY_NAME#35], functions=[sum(cast(count#37 as bigint))])
   +- Exchange hashpartitioning(DEST_COUNTRY_NAME#35, 5)
      +- *(1) HashAggregate(keys=[DEST_COUNTRY_NAME#35], functions=[partial_sum(cast(count#37 as bigint))])
         +- *(1) FileScan csv [DEST_COUNTRY_NAME#35,count#37] Batched: false, Format: CSV, Location: InMemoryFileIndex[hdfs://nn01.itversity.com:8020/user/kkdosapati/dataSets/spark-guide/flight-data..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,count:int>

In [56]:
maxSql.show(5)

+-----------------+-----------------+
|DEST_COUNTRY_NAME|destination_total|
+-----------------+-----------------+
|    United States|           411352|
|           Canada|             8399|
|           Mexico|             7140|
|   United Kingdom|             2025|
|            Japan|             1548|
+-----------------+-----------------+

In [57]:
maxDataFrame.show(5)

+-----------------+-----------------+
|DEST_COUNTRY_NAME|destination_total|
+-----------------+-----------------+
|    United States|           411352|
|           Canada|             8399|
|           Mexico|             7140|
|   United Kingdom|             2025|
|            Japan|             1548|
+-----------------+-----------------+

In [71]:
val uData = spark.read.option("inferSchema", true).option("sep", "\t")
                .csv("/user/kkdosapati/dataSets/udemy_tame_bigdata/ml-100k/u.data").toDF("userID","movieID","rating","date")

uData = [userID: int, movieID: int ... 2 more fields]

[userID: int, movieID: int ... 2 more fields]

In [72]:
uData.show

+------+-------+------+---------+
|userID|movieID|rating|     date|
+------+-------+------+---------+
|   196|    242|     3|881250949|
|   186|    302|     3|891717742|
|    22|    377|     1|878887116|
|   244|     51|     2|880606923|
|   166|    346|     1|886397596|
|   298|    474|     4|884182806|
|   115|    265|     2|881171488|
|   253|    465|     5|891628467|
|   305|    451|     3|886324817|
|     6|     86|     3|883603013|
|    62|    257|     2|879372434|
|   286|   1014|     5|879781125|
|   200|    222|     5|876042340|
|   210|     40|     3|891035994|
|   224|     29|     3|888104457|
|   303|    785|     3|879485318|
|   122|    387|     5|879270459|
|   194|    274|     2|879539794|
|   291|   1042|     4|874834944|
|   234|   1184|     2|892079237|
+------+-------+------+---------+
only showing top 20 rows

In [73]:
uData.printSchema

root
 |-- userID: integer (nullable = true)
 |-- movieID: integer (nullable = true)
 |-- rating: integer (nullable = true)
 |-- date: integer (nullable = true)

In [83]:
import org.apache.spark.sql.functions.desc

In [85]:
uData.groupBy("movieID").count.orderBy(desc("count")).show

+-------+-----+
|movieID|count|
+-------+-----+
|     50|  583|
|    258|  509|
|    100|  508|
|    181|  507|
|    294|  485|
|    286|  481|
|    288|  478|
|      1|  452|
|    300|  431|
|    121|  429|
|    174|  420|
|    127|  413|
|     56|  394|
|      7|  392|
|     98|  390|
|    237|  384|
|    117|  378|
|    172|  367|
|    222|  365|
|    204|  350|
+-------+-----+
only showing top 20 rows