In [1]:
spark

Waiting for a Spark session to start...

Spark application_1540458187951_75007: Some(http://gw02.itversity.com:4044)

In [2]:
sc.getConf.getAll.filter(_._2.contains("/proxy/"))(0)._2

Waiting for a Spark session to start...

http://rm01.itversity.com:19288/proxy/application_1540458187951_75007

In [3]:
def getType(o: Any) = o.getClass.getCanonicalName

getType: (o: Any)String

In [4]:
val os_name = System.getProperty("os.name")
val hdfs_home = "/user/" + System.getenv("HOME").split("/")(2)

os_name = Linux
hdfs_home = /user/kranthidr

/user/kranthidr

In [5]:
val path = hdfs_home + "/samples/auto_data.csv"

path = /user/kranthidr/samples/auto_data.csv

/user/kranthidr/samples/auto_data.csv

In [6]:
val raw_data1 = spark.read.text(path)

raw_data1 = [value: string]

[value: string]

In [7]:
raw_data1.show(3)

+--------------------+
|               value|
+--------------------+
|18,8,307,130,3504...|
|15,8,350,165,3693...|
|18,8,318,150,3436...|
+--------------------+
only showing top 3 rows

In [8]:
raw_data1.take(5)

+-----------------------------+
| 18,8,307,130,3504,12,70,1   |
| 15,8,350,165,3693,11.5,70,1 |
| 18,8,318,150,3436,11,70,1   |
| 16,8,304,150,3433,12,70,1   |
| 17,8,302,140,3449,10.5,70,1 |
+-----------------------------+

In [9]:
println(getType(raw_data1))
println(getType(raw_data1.take(1)))
println(getType(raw_data1.take(1)(0)))

org.apache.spark.sql.Dataset
org.apache.spark.sql.Row[]
org.apache.spark.sql.catalyst.expressions.GenericRowWithSchema

In [10]:
val raw_data2 = sc.textFile(path)

raw_data2 = /user/kranthidr/samples/auto_data.csv MapPartitionsRDD[17] at textFile at <console>:31

/user/kranthidr/samples/auto_data.csv MapPartitionsRDD[17] at textFile at <console>:31

In [11]:
raw_data2.take(5)

[18,8,307,130,3504,12,70,1, 15,8,350,165,3693,11.5,70,1, 18,8,318,150,3436,11,70,1, 16,8,304,150,3433,12,70,1, 17,8,302,140,3449,10.5,70,1]

In [12]:
println(getType(raw_data2))
println(getType(raw_data2.take(1)))
println(getType(raw_data2.take(1)(0)))

org.apache.spark.rdd.MapPartitionsRDD
java.lang.String[]
java.lang.String

In [13]:
val raw_data2DF1 = raw_data2.toDF()
raw_data2DF1.show(5)

+--------------------+
|               value|
+--------------------+
|18,8,307,130,3504...|
|15,8,350,165,3693...|
|18,8,318,150,3436...|
|16,8,304,150,3433...|
|17,8,302,140,3449...|
+--------------------+
only showing top 5 rows

raw_data2DF1 = [value: string]

[value: string]

In [14]:
println(getType(raw_data2DF1))
println(getType(raw_data2DF1.take(1)))
println(getType(raw_data2DF1.take(1)(0)))

org.apache.spark.sql.Dataset
org.apache.spark.sql.Row[]
org.apache.spark.sql.catalyst.expressions.GenericRowWithSchema

In [15]:
import org.apache.spark.sql.Row

//val raw_data2DF2 = raw_data2.map(x => Row(x)).toDF("k")
//val raw_data2DF3 = raw_data2.map(x => Row(x)).toDF()
//raw_data2DF2.show(2)
//raw_data2DF3.show(2)
//error: value toDF is not a member of org.apache.spark.rdd.RDD[org.apache.spark.sql.Row]

In [16]:
val raw_dataDF1 = raw_data1.toDF("k")
val raw_dataDF2 = raw_data1.toDF()

raw_dataDF1 = [k: string]
raw_dataDF2 = [value: string]

[value: string]

In [17]:
raw_dataDF1.show(2)
raw_dataDF2.show(2)

+--------------------+
|                   k|
+--------------------+
|18,8,307,130,3504...|
|15,8,350,165,3693...|
+--------------------+
only showing top 2 rows

+--------------------+
|               value|
+--------------------+
|18,8,307,130,3504...|
|15,8,350,165,3693...|
+--------------------+
only showing top 2 rows

In [18]:
raw_dataDF1.printSchema()
raw_dataDF2.printSchema()
raw_data2DF1.printSchema()

root
 |-- k: string (nullable = true)

root
 |-- value: string (nullable = true)

root
 |-- value: string (nullable = true)

In [19]:
val raw_dataDF = raw_data1.toDF("value")
val d1  = raw_dataDF.selectExpr("split(value, ',') as value")

raw_dataDF = [value: string]
d1 = [value: array<string>]

[value: array<string>]

In [20]:
d1.printSchema()

root
 |-- value: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [21]:
println(getType(d1))
println(getType(d1.take(1)))
println(getType(d1.take(1)(0)))

org.apache.spark.sql.Dataset
org.apache.spark.sql.Row[]
org.apache.spark.sql.catalyst.expressions.GenericRowWithSchema

In [22]:
d1.show(4)

+--------------------+
|               value|
+--------------------+
|[18, 8, 307, 130,...|
|[15, 8, 350, 165,...|
|[18, 8, 318, 150,...|
|[16, 8, 304, 150,...|
+--------------------+
only showing top 4 rows

In [23]:
val d2 = d1.selectExpr("value[0]", "value[1]", "value[2]", "value[3]", "value[4]", "value[5]", "value[6]", "value[7]")

d2 = [value[0]: string, value[1]: string ... 6 more fields]

[value[0]: string, value[1]: string ... 6 more fields]

In [27]:
d2.show(3)

+--------+--------+--------+--------+--------+--------+--------+--------+
|value[0]|value[1]|value[2]|value[3]|value[4]|value[5]|value[6]|value[7]|
+--------+--------+--------+--------+--------+--------+--------+--------+
|      18|       8|     307|     130|    3504|      12|      70|       1|
|      15|       8|     350|     165|    3693|    11.5|      70|       1|
|      18|       8|     318|     150|    3436|      11|      70|       1|
+--------+--------+--------+--------+--------+--------+--------+--------+
only showing top 3 rows

In [25]:
d2.printSchema()

root
 |-- value[0]: string (nullable = true)
 |-- value[1]: string (nullable = true)
 |-- value[2]: string (nullable = true)
 |-- value[3]: string (nullable = true)
 |-- value[4]: string (nullable = true)
 |-- value[5]: string (nullable = true)
 |-- value[6]: string (nullable = true)
 |-- value[7]: string (nullable = true)

In [28]:
spark.read.csv(path).show(3)

+---+---+---+---+----+----+---+---+
|_c0|_c1|_c2|_c3| _c4| _c5|_c6|_c7|
+---+---+---+---+----+----+---+---+
| 18|  8|307|130|3504|  12| 70|  1|
| 15|  8|350|165|3693|11.5| 70|  1|
| 18|  8|318|150|3436|  11| 70|  1|
+---+---+---+---+----+----+---+---+
only showing top 3 rows