In [1]:
spark

Waiting for a Spark session to start...

org.apache.spark.sql.SparkSession@3553f266

In [2]:
spark.conf.get("spark.driver.appUIAddress")

Waiting for a Spark session to start...

http://gw02.itversity.com:4046

In [3]:
def getType(o: Any) = o.getClass.getCanonicalName

getType: (o: Any)String

In [4]:
val envHome: Option[String] = System.getenv("HOME").split("/").lift(2)
val path = if(envHome.isDefined)  "/user/kkdosapati/dataSets/spark-guide/flight-data/json/2015-summary.json" else 
"/databricks-datasets/definitive-guide/data/flight-data/json/2015-summary.json"

val path1 = if(envHome.isDefined)  "/user/kkdosapati/dataSets/spark-guide/flight-data/json/*-summary.json" else 
"/databricks-datasets/definitive-guide/data/flight-data/json/*-summary.json"

envHome = Some(kkdosapati)
path = /user/kkdosapati/dataSets/spark-guide/flight-data/json/2015-summary.json
path1 = /user/kkdosapati/dataSets/spark-guide/flight-data/json/*-summary.json

/user/kkdosapati/dataSets/spark-guide/flight-data/json/*-summary.json

In [5]:
val df1 = spark.read.format("json").load(path)

df1 = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [6]:
print(df1.schema)

StructType(StructField(DEST_COUNTRY_NAME,StringType,true), StructField(ORIGIN_COUNTRY_NAME,StringType,true), StructField(count,LongType,true))

In [7]:
df1.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: long (nullable = true)

In [8]:
import org.apache.spark.sql.types.{StructField, StructType, StringType, LongType}
import org.apache.spark.sql.types.Metadata

In [9]:
val myManualSchema = StructType(
Seq(
  StructField("DEST_COUNTRY_NAME", StringType, true),
  StructField("ORIGIN_COUNTRY_NAME", StringType, true),
  StructField("count", LongType, false, Metadata.fromJson("{\"hello\":\"world\"}"))
    )
)

myManualSchema = StructType(StructField(DEST_COUNTRY_NAME,StringType,true), StructField(ORIGIN_COUNTRY_NAME,StringType,true), StructField(count,LongType,false))

StructType(StructField(DEST_COUNTRY_NAME,StringType,true), StructField(ORIGIN_COUNTRY_NAME,StringType,true), StructField(count,LongType,false))

In [10]:
val df = spark.read.format("json").schema(myManualSchema).load(path)

df = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [11]:
df.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: long (nullable = true)

In [12]:
df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [13]:
df.describe()

[summary: string, DEST_COUNTRY_NAME: string ... 2 more fields]

In [14]:
df.summary()

[summary: string, DEST_COUNTRY_NAME: string ... 2 more fields]

In [15]:
df.head(5)

Array([United States,Romania,15], [United States,Croatia,1], [United States,Ireland,344], [Egypt,United States,15], [United States,India,62])

In [16]:
import org.apache.spark.sql.functions.{col, column}

In [17]:
col("someColumnName1")

someColumnName1

In [18]:
column("someColumnName2")

someColumnName2

In [19]:
println(getType($"someColumnName1"), getType('someColumnName2))

(org.apache.spark.sql.ColumnName,scala.Symbol)

In [20]:
df.col("count")

count

In [21]:
import org.apache.spark.sql.functions.expr
expr("(((someCol + 5) * 200) - 6) < otherCol")

((((someCol + 5) * 200) - 6) < otherCol)

In [22]:
import org.apache.spark.sql.Row
val myRow = Row("Hello", None, 1, false)

myRow = [Hello,None,1,false]

[Hello,None,1,false]

In [23]:
println(getType(myRow(0)), getType(myRow(1)), getType(myRow(2)), getType(myRow(3)))

(java.lang.String,scala.None$,java.lang.Integer,java.lang.Boolean)

In [24]:
myRow.getString(0) //whats the use

Hello

In [25]:
myRow(2).asInstanceOf[Int]

1

In [26]:
df.createOrReplaceTempView("dfTable")

In [27]:
val myManualSchema1 = StructType(Seq(
  StructField("some", StringType, true),
  StructField("col", StringType, true),
  StructField("names", LongType, false)
))
val myRows = Seq(Row("Hello", null, 1L), Row("Bye", "something", 10L))

myManualSchema1 = StructType(StructField(some,StringType,true), StructField(col,StringType,true), StructField(names,LongType,false))
myRows = List([Hello,null,1], [Bye,something,10])

List([Hello,null,1], [Bye,something,10])

In [28]:
val myRDD = sc.parallelize(myRows)

myRDD = ParallelCollectionRDD[24] at parallelize at <console>:34

ParallelCollectionRDD[24] at parallelize at <console>:34

In [29]:
myRDD.collect()

Array([Hello,null,1], [Bye,something,10])

In [30]:
val myDf = spark.createDataFrame(myRDD, myManualSchema1)

myDf = [some: string, col: string ... 1 more field]

[some: string, col: string ... 1 more field]

In [31]:
//myRows.toDF("col1","col2","col3").show() //if implicits are imported this will work

Name: Syntax Error.
Message:
StackTrace:

In [32]:
myDf.show()

+-----+---------+-----+
| some|      col|names|
+-----+---------+-----+
|Hello|     null|    1|
|  Bye|something|   10|
+-----+---------+-----+

In [33]:
df.select("DEST_COUNTRY_NAME").show(2)

+-----------------+
|DEST_COUNTRY_NAME|
+-----------------+
|    United States|
|    United States|
+-----------------+
only showing top 2 rows

In [34]:
df.select("DEST_COUNTRY_NAME", "ORIGIN_COUNTRY_NAME").show(2)

+-----------------+-------------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|
+-----------------+-------------------+
|    United States|            Romania|
|    United States|            Croatia|
+-----------------+-------------------+
only showing top 2 rows

In [35]:
df.select(
    expr("DEST_COUNTRY_NAME"),
    col("DEST_COUNTRY_NAME"),
    column("DEST_COUNTRY_NAME"),
$"DEST_COUNTRY_NAME",
'DEST_COUNTRY_NAME)
  .show(2)

+-----------------+-----------------+-----------------+-----------------+-----------------+
|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|
+-----------------+-----------------+-----------------+-----------------+-----------------+
|    United States|    United States|    United States|    United States|    United States|
|    United States|    United States|    United States|    United States|    United States|
+-----------------+-----------------+-----------------+-----------------+-----------------+
only showing top 2 rows

In [36]:
df.select(expr("DEST_COUNTRY_NAME AS destination")).show(2)

+-------------+
|  destination|
+-------------+
|United States|
|United States|
+-------------+
only showing top 2 rows

In [37]:
df.select(expr("DEST_COUNTRY_NAME as destination").alias("DEST_COUNTRY_NAME1")).show(2)

+------------------+
|DEST_COUNTRY_NAME1|
+------------------+
|     United States|
|     United States|
+------------------+
only showing top 2 rows

In [38]:
df.selectExpr("DEST_COUNTRY_NAME as newColumnName", "DEST_COUNTRY_NAME").show(2)

+-------------+-----------------+
|newColumnName|DEST_COUNTRY_NAME|
+-------------+-----------------+
|United States|    United States|
|United States|    United States|
+-------------+-----------------+
only showing top 2 rows

In [39]:
df.selectExpr(
  "*", // all original columns
  "(DEST_COUNTRY_NAME = ORIGIN_COUNTRY_NAME) as withinCountry")
  .show(2)

+-----------------+-------------------+-----+-------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|withinCountry|
+-----------------+-------------------+-----+-------------+
|    United States|            Romania|   15|        false|
|    United States|            Croatia|    1|        false|
+-----------------+-------------------+-----+-------------+
only showing top 2 rows

In [40]:
df.selectExpr("avg(count)", "count(distinct(DEST_COUNTRY_NAME))").show(2)

+-----------+---------------------------------+
| avg(count)|count(DISTINCT DEST_COUNTRY_NAME)|
+-----------+---------------------------------+
|1770.765625|                              132|
+-----------+---------------------------------+

In [41]:
import org.apache.spark.sql.functions.lit
df.select(expr("*"), lit(1).alias("One")).show(2)

+-----------------+-------------------+-----+---+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|One|
+-----------------+-------------------+-----+---+
|    United States|            Romania|   15|  1|
|    United States|            Croatia|    1|  1|
+-----------------+-------------------+-----+---+
only showing top 2 rows

In [42]:
df.withColumn("numberOne", lit(1)).show(2)

+-----------------+-------------------+-----+---------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|numberOne|
+-----------------+-------------------+-----+---------+
|    United States|            Romania|   15|        1|
|    United States|            Croatia|    1|        1|
+-----------------+-------------------+-----+---------+
only showing top 2 rows

In [43]:
df.withColumn("withinCountry", expr("ORIGIN_COUNTRY_NAME == DEST_COUNTRY_NAME"))
  .show(2)

+-----------------+-------------------+-----+-------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|withinCountry|
+-----------------+-------------------+-----+-------------+
|    United States|            Romania|   15|        false|
|    United States|            Croatia|    1|        false|
+-----------------+-------------------+-----+-------------+
only showing top 2 rows

In [44]:
df.withColumnRenamed("DEST_COUNTRY_NAME", "dest").show(2)

+-------------+-------------------+-----+
|         dest|ORIGIN_COUNTRY_NAME|count|
+-------------+-------------------+-----+
|United States|            Romania|   15|
|United States|            Croatia|    1|
+-------------+-------------------+-----+
only showing top 2 rows

In [45]:
df.columns

Array(DEST_COUNTRY_NAME, ORIGIN_COUNTRY_NAME, count)

In [46]:
val dfWithLongColName = df.withColumn(
    "This Long Column-Name",
    expr("ORIGIN_COUNTRY_NAME"))

dfWithLongColName = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 2 more fields]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 2 more fields]

In [47]:
dfWithLongColName.show(2)

+-----------------+-------------------+-----+---------------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|This Long Column-Name|
+-----------------+-------------------+-----+---------------------+
|    United States|            Romania|   15|              Romania|
|    United States|            Croatia|    1|              Croatia|
+-----------------+-------------------+-----+---------------------+
only showing top 2 rows

In [48]:
dfWithLongColName.selectExpr(
    "`This Long Column-Name`",
    "`This Long Column-Name` as `new col`")
  .show(2)

+---------------------+-------+
|This Long Column-Name|new col|
+---------------------+-------+
|              Romania|Romania|
|              Croatia|Croatia|
+---------------------+-------+
only showing top 2 rows

In [49]:
dfWithLongColName.select(expr("`This Long Column-Name`")).columns

Array(This Long Column-Name)

In [50]:
dfWithLongColName.drop("DEST_COUNTRY_NAME","ORIGIN_COUNTRY_NAME").show(4)

+-----+---------------------+
|count|This Long Column-Name|
+-----+---------------------+
|   15|              Romania|
|    1|              Croatia|
|  344|              Ireland|
|   15|        United States|
+-----+---------------------+
only showing top 4 rows

In [51]:
val df2 = df

df2 = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [52]:
df2.show(4)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
+-----------------+-------------------+-----+
only showing top 4 rows

In [53]:
df2.drop("DEST_COUNTRY_NAME").show(4)

+-------------------+-----+
|ORIGIN_COUNTRY_NAME|count|
+-------------------+-----+
|            Romania|   15|
|            Croatia|    1|
|            Ireland|  344|
|      United States|   15|
+-------------------+-----+
only showing top 4 rows

In [54]:

df.where(col("count") < 2).where(col("ORIGIN_COUNTRY_NAME") =!= "Croatia")
  .show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|          Singapore|    1|
|          Moldova|      United States|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

In [55]:
df.where(col("count") < 2).filter($"ORIGIN_COUNTRY_NAME" =!= "Croatia")
  .show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|          Singapore|    1|
|          Moldova|      United States|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

In [56]:
df.where(col("count") < 2).show(10)

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Croatia|    1|
|       United States|          Singapore|    1|
|             Moldova|      United States|    1|
|               Malta|      United States|    1|
|       United States|          Gibraltar|    1|
|Saint Vincent and...|      United States|    1|
|            Suriname|      United States|    1|
|       United States|             Cyprus|    1|
|        Burkina Faso|      United States|    1|
|            Djibouti|      United States|    1|
+--------------------+-------------------+-----+
only showing top 10 rows

In [57]:

df.select("ORIGIN_COUNTRY_NAME", "DEST_COUNTRY_NAME").distinct().count()

256

In [58]:
df.select("ORIGIN_COUNTRY_NAME", "DEST_COUNTRY_NAME").distinct().show(10)

+-------------------+-----------------+
|ORIGIN_COUNTRY_NAME|DEST_COUNTRY_NAME|
+-------------------+-----------------+
|            Romania|    United States|
|            Croatia|    United States|
|            Ireland|    United States|
|      United States|            Egypt|
|              India|    United States|
|          Singapore|    United States|
|            Grenada|    United States|
|      United States|       Costa Rica|
|      United States|          Senegal|
|      United States|          Moldova|
+-------------------+-----------------+
only showing top 10 rows

In [59]:

df.select("ORIGIN_COUNTRY_NAME").distinct().count()

125

In [60]:
df.count()

256

In [61]:
val seed = 5
val withReplacement = false
val fraction = 0.5
df.sample(withReplacement, fraction, seed).count()

seed = 5
withReplacement = false
fraction = 0.5

126

In [62]:
df.count()

256

In [63]:
val dataFrames = df.randomSplit(Array(0.25, 0.75), seed)

dataFrames = Array([DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field], [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field])

Array([DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field], [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field])

In [64]:
println(dataFrames(0).count(), dataFrames(1).count())

(60,196)

In [65]:
dataFrames(0).count() > dataFrames(0).count()

false

In [66]:
val schema = df.schema
val newRows = Array(
  Row("New Country", "Other Country", 99L),
  Row("New Country 2", "Other Country 3", 99L)
)
val parallelizedRows = sc.parallelize(newRows)
val newDF = spark.createDataFrame(parallelizedRows, schema)

schema = StructType(StructField(DEST_COUNTRY_NAME,StringType,true), StructField(ORIGIN_COUNTRY_NAME,StringType,true), StructField(count,LongType,true))
newRows = Array([New Country,Other Country,99], [New Country 2,Other Country 3,99])
parallelizedRows = ParallelCollectionRDD[183] at parallelize at <console>:47
newDF = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [67]:
newDF.show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|      New Country|      Other Country|   99|
|    New Country 2|    Other Country 3|   99|
+-----------------+-------------------+-----+

In [68]:

df.union(newDF)
  .where("count = 99")
  .where(col("ORIGIN_COUNTRY_NAME") =!= "United States")
  .show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|      New Country|      Other Country|   99|
|    New Country 2|    Other Country 3|   99|
+-----------------+-------------------+-----+

In [69]:
df.sort("count").show(5)

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|               Malta|      United States|    1|
|Saint Vincent and...|      United States|    1|
|       United States|            Croatia|    1|
|       United States|          Gibraltar|    1|
|       United States|          Singapore|    1|
+--------------------+-------------------+-----+
only showing top 5 rows

In [70]:
df.orderBy("count", "DEST_COUNTRY_NAME").show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|     Burkina Faso|      United States|    1|
|    Cote d'Ivoire|      United States|    1|
|           Cyprus|      United States|    1|
|         Djibouti|      United States|    1|
|        Indonesia|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [71]:
df.orderBy(col("count"), col("DEST_COUNTRY_NAME")).show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|     Burkina Faso|      United States|    1|
|    Cote d'Ivoire|      United States|    1|
|           Cyprus|      United States|    1|
|         Djibouti|      United States|    1|
|        Indonesia|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [72]:
import org.apache.spark.sql.functions.{desc, asc}
df.orderBy(expr("count desc")).show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|          Moldova|      United States|    1|
|    United States|            Croatia|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

In [73]:
df.orderBy(desc("ORIGIN_COUNTRY_NAME"),desc("count")).show(10)

+------------------+-------------------+------+
| DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+------------------+-------------------+------+
|     United States|            Vietnam|     2|
|     United States|          Venezuela|   246|
|     United States|            Uruguay|    13|
|     United States|      United States|370002|
|            Canada|      United States|  8399|
|            Mexico|      United States|  7140|
|    United Kingdom|      United States|  2025|
|             Japan|      United States|  1548|
|           Germany|      United States|  1468|
|Dominican Republic|      United States|  1353|
+------------------+-------------------+------+
only showing top 10 rows

In [74]:
df.orderBy(desc("count")).show(2)

+-----------------+-------------------+------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+-----------------+-------------------+------+
|    United States|      United States|370002|
|    United States|             Canada|  8483|
+-----------------+-------------------+------+
only showing top 2 rows

In [75]:
val df_sp = spark.read.format("json").load(path1)
  .sortWithinPartitions("DEST_COUNTRY_NAME")

df_sp = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [76]:
df_sp.rdd.getNumPartitions

3

In [77]:
df_sp.explain()

== Physical Plan ==
*(1) Sort [DEST_COUNTRY_NAME#1014 ASC NULLS FIRST], false, 0
+- *(1) FileScan json [DEST_COUNTRY_NAME#1014,ORIGIN_COUNTRY_NAME#1015,count#1016L] Batched: false, Format: JSON, Location: InMemoryFileIndex[hdfs://nn01.itversity.com:8020/user/kkdosapati/dataSets/spark-guide/flight-data..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,ORIGIN_COUNTRY_NAME:string,count:bigint>

In [78]:
df.limit(5).show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+

In [79]:
df.orderBy(expr("count desc")).limit(6).show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|               Malta|      United States|    1|
|Saint Vincent and...|      United States|    1|
|       United States|            Croatia|    1|
|       United States|          Gibraltar|    1|
|       United States|          Singapore|    1|
|             Moldova|      United States|    1|
+--------------------+-------------------+-----+

In [80]:
df.rdd.getNumPartitions

1

In [81]:
val df2 = df.repartition(5)

df2 = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [82]:
df2.rdd.getNumPartitions

5

In [83]:
val df3 = df.repartition(col("DEST_COUNTRY_NAME"))

df3 = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [84]:
df3.rdd.getNumPartitions

200

In [85]:
val df4 = df.repartition(5, col("DEST_COUNTRY_NAME"))

df4 = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [86]:
df4.rdd.getNumPartitions

5

In [87]:
val df5 = df.repartition(5, col("DEST_COUNTRY_NAME")).coalesce(2)

df5 = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [88]:
df5.rdd.getNumPartitions

2

In [89]:
val collectDF = df.limit(10)

collectDF = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [90]:
collectDF.take(5)

Array([United States,Romania,15], [United States,Croatia,1], [United States,Ireland,344], [Egypt,United States,15], [United States,India,62])

In [91]:
collectDF.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [92]:
collectDF.show(5, false)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|United States    |Romania            |15   |
|United States    |Croatia            |1    |
|United States    |Ireland            |344  |
|Egypt            |United States      |15   |
|United States    |India              |62   |
+-----------------+-------------------+-----+
only showing top 5 rows

In [93]:
collectDF.collect()

Array([United States,Romania,15], [United States,Croatia,1], [United States,Ireland,344], [Egypt,United States,15], [United States,India,62], [United States,Singapore,1], [United States,Grenada,62], [Costa Rica,United States,588], [Senegal,United States,40], [Moldova,United States,1])

In [94]:
val it = collectDF.toLocalIterator()

it = IteratorWrapper(non-empty iterator)

IteratorWrapper(non-empty iterator)

In [95]:
val l = it.next

l = [United States,Romania,15]

[United States,Romania,15]

In [96]:
collectDF.columns

Array(DEST_COUNTRY_NAME, ORIGIN_COUNTRY_NAME, count)

In [97]:
collectDF.filter(collectDF("count") > 50).show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Ireland|  344|
|    United States|              India|   62|
|    United States|            Grenada|   62|
|       Costa Rica|      United States|  588|
+-----------------+-------------------+-----+

In [98]:
collectDF.filter("count > 50").show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Ireland|  344|
|    United States|              India|   62|
|    United States|            Grenada|   62|
|       Costa Rica|      United States|  588|
+-----------------+-------------------+-----+

In [99]:
collectDF.filter($"count" > 50).show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Ireland|  344|
|    United States|              India|   62|
|    United States|            Grenada|   62|
|       Costa Rica|      United States|  588|
+-----------------+-------------------+-----+