In [1]:
spark

Waiting for a Spark session to start...

Spark application_1540458187951_74998: Some(http://gw02.itversity.com:4047)

In [2]:
sc.getConf.getAll.filter(_._2.contains("/proxy/"))(0)._2

Waiting for a Spark session to start...

http://rm01.itversity.com:19288/proxy/application_1540458187951_74998

In [3]:
def getType(o: Any) = o.getClass.getCanonicalName

getType: (o: Any)String

In [4]:
val os_name = System.getProperty("os.name")
val hdfs_home = "/user/" + System.getenv("HOME").split("/")(2)

os_name = Linux
hdfs_home = /user/kranthidr

/user/kranthidr

In [5]:
val path = hdfs_home + "/dataSets/spark-guide/flight-data/parquet/2010-summary.parquet"

path = /user/kranthidr/dataSets/spark-guide/flight-data/parquet/2010-summary.parquet

/user/kranthidr/dataSets/spark-guide/flight-data/parquet/2010-summary.parquet

In [6]:
val flightDF = spark.read.parquet(path)

flightDF = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [7]:
case class Flight(DEST_COUNTRY_NAME: String, ORIGIN_COUNTRY_NAME: String, count: BigInt)

defined class Flight

In [8]:
flightDF.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [9]:
val flights = flightDF.as[Flight]

flights = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [10]:
flights.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [11]:
val x1 = flights.filter(_.ORIGIN_COUNTRY_NAME!="Canada")

x1 = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [12]:
val x2 = flights.filter(x => x.ORIGIN_COUNTRY_NAME!="Canada").map(x => x)

x2 = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [13]:
x1.take(5)

[Flight(United States,Romania,1), Flight(United States,Ireland,264), Flight(United States,India,69), Flight(Egypt,United States,24), Flight(Equatorial Guinea,United States,1)]

In [14]:
x2.take(5)

[Flight(United States,Romania,1), Flight(United States,Ireland,264), Flight(United States,India,69), Flight(Egypt,United States,24), Flight(Equatorial Guinea,United States,1)]

In [15]:
getType(x1)

org.apache.spark.sql.Dataset

In [16]:
x1.getClass()

class org.apache.spark.sql.Dataset

In [17]:
getType(x2)

org.apache.spark.sql.Dataset

In [18]:
x2.getClass()

class org.apache.spark.sql.Dataset

In [19]:
flights.take(5).filter(_.ORIGIN_COUNTRY_NAME != "Canada").map(
    f => Flight(f.DEST_COUNTRY_NAME, f.ORIGIN_COUNTRY_NAME, f.count+5))

[Flight(United States,Romania,6), Flight(United States,Ireland,269), Flight(United States,India,74), Flight(Egypt,United States,29), Flight(Equatorial Guinea,United States,6)]

In [20]:
flights.take(5).filter(_.ORIGIN_COUNTRY_NAME != "India")

[Flight(United States,Romania,1), Flight(United States,Ireland,264), Flight(Egypt,United States,24), Flight(Equatorial Guinea,United States,1)]

In [21]:
println(getType(x2))
println(getType(x2.take(1)))
println(getType(x2.take(1)(0)))

org.apache.spark.sql.Dataset
$line33.$read.$iw.$iw.Flight[]
$line33.$read.$iw.$iw.Flight