In [1]:
import findspark
findspark.init('/usr/hdp/current/spark2-client')
findspark.find()

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("yarn").appName("ch03SparkToolSet-RDD1").getOrCreate()

sc = spark.sparkContext

In [5]:
print(spark.conf.get('spark.org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter.param.PROXY_URI_BASES'))
#Only for Yarn

http://rm01.itversity.com:19288/proxy/application_1533622723243_12045

In [3]:
spark

In [4]:
from pyspark.sql import Row

In [6]:
raw_data1 = spark.read.text('/user/kranthidr/samples/auto_data.csv')

In [7]:
raw_data1.take(5)

[Row(value=u'18,8,307,130,3504,12,70,1'),
 Row(value=u'15,8,350,165,3693,11.5,70,1'),
 Row(value=u'18,8,318,150,3436,11,70,1'),
 Row(value=u'16,8,304,150,3433,12,70,1'),
 Row(value=u'17,8,302,140,3449,10.5,70,1')]

In [8]:
type(raw_data1)

pyspark.sql.dataframe.DataFrame

In [9]:
raw_data2 = sc.textFile('/user/kranthidr/samples/auto_data.csv')

In [10]:
raw_data2.take(5)

[u'18,8,307,130,3504,12,70,1',
 u'15,8,350,165,3693,11.5,70,1',
 u'18,8,318,150,3436,11,70,1',
 u'16,8,304,150,3433,12,70,1',
 u'17,8,302,140,3449,10.5,70,1']

In [11]:
type(raw_data2)

pyspark.rdd.RDD

In [12]:
# This Gives Error
# TypeError: Can not infer schema for type: <class 'str'>

# raw_data2DF1 = raw_data2.toDF()
# raw_data2DF1.show()

In [13]:
raw_data2DF2 = raw_data2.map(lambda x: Row(x)).toDF().toDF("k")
raw_data2DF2.show()

+--------------------+
|                   k|
+--------------------+
|18,8,307,130,3504...|
|15,8,350,165,3693...|
|18,8,318,150,3436...|
|16,8,304,150,3433...|
|17,8,302,140,3449...|
|15,8,429,198,4341...|
|14,8,454,220,4354...|
|14,8,440,215,4312...|
|14,8,455,225,4425...|
|15,8,390,190,3850...|
|15,8,383,170,3563...|
|14,8,340,160,3609...|
|15,8,400,150,3761...|
|14,8,455,225,3086...|
|24,4,113,95,2372,...|
|22,6,198,95,2833,...|
|18,6,199,97,2774,...|
|21,6,200,85,2587,...|
|27,4,97,88,2130,1...|
|26,4,97,46,1835,2...|
+--------------------+
only showing top 20 rows

In [15]:
raw_dataDF1 = raw_data1.toDF("k")
# raw_dataDF = raw_data1.toDF() 
# # Gives Error
# Py4JJavaError: An error occurred while calling o53.toDF.
# : java.lang.IllegalArgumentException: requirement failed: The number of columns doesn't match.
# Old column names (1): value
# New column names (0):

In [16]:
raw_dataDF1.show()

+--------------------+
|                   k|
+--------------------+
|18,8,307,130,3504...|
|15,8,350,165,3693...|
|18,8,318,150,3436...|
|16,8,304,150,3433...|
|17,8,302,140,3449...|
|15,8,429,198,4341...|
|14,8,454,220,4354...|
|14,8,440,215,4312...|
|14,8,455,225,4425...|
|15,8,390,190,3850...|
|15,8,383,170,3563...|
|14,8,340,160,3609...|
|15,8,400,150,3761...|
|14,8,455,225,3086...|
|24,4,113,95,2372,...|
|22,6,198,95,2833,...|
|18,6,199,97,2774,...|
|21,6,200,85,2587,...|
|27,4,97,88,2130,1...|
|26,4,97,46,1835,2...|
+--------------------+
only showing top 20 rows

In [17]:
raw_dataDF1.printSchema()
raw_data2DF2.printSchema()

root
 |-- k: string (nullable = true)

root
 |-- k: string (nullable = true)

In [18]:
raw_dataDF = raw_data1.toDF("value")
d1  = raw_dataDF.selectExpr("split(value, ',') as value")

In [19]:
d2 = d1.selectExpr("value[0]", "value[1]", "value[2]", "value[3]", "value[4]", "value[5]", "value[6]", "value[7]")

In [20]:
d2.show()

+--------+--------+--------+--------+--------+--------+--------+--------+
|value[0]|value[1]|value[2]|value[3]|value[4]|value[5]|value[6]|value[7]|
+--------+--------+--------+--------+--------+--------+--------+--------+
|      18|       8|     307|     130|    3504|      12|      70|       1|
|      15|       8|     350|     165|    3693|    11.5|      70|       1|
|      18|       8|     318|     150|    3436|      11|      70|       1|
|      16|       8|     304|     150|    3433|      12|      70|       1|
|      17|       8|     302|     140|    3449|    10.5|      70|       1|
|      15|       8|     429|     198|    4341|      10|      70|       1|
|      14|       8|     454|     220|    4354|       9|      70|       1|
|      14|       8|     440|     215|    4312|     8.5|      70|       1|
|      14|       8|     455|     225|    4425|      10|      70|       1|
|      15|       8|     390|     190|    3850|     8.5|      70|       1|
|      15|       8|     383|     170|    3563|      10|      70|       1|
|      14|       8|     340|     160|    3609|       8|      70|       1|
|      15|       8|     400|     150|    3761|     9.5|      70|       1|
|      14|       8|     455|     225|    3086|      10|      70|       1|
|      24|       4|     113|      95|    2372|      15|      70|       3|
|      22|       6|     198|      95|    2833|    15.5|      70|       1|
|      18|       6|     199|      97|    2774|    15.5|      70|       1|
|      21|       6|     200|      85|    2587|      16|      70|       1|
|      27|       4|      97|      88|    2130|    14.5|      70|       3|
|      26|       4|      97|      46|    1835|    20.5|      70|       2|
+--------+--------+--------+--------+--------+--------+--------+--------+
only showing top 20 rows

In [21]:
d2.printSchema()

root
 |-- value[0]: string (nullable = true)
 |-- value[1]: string (nullable = true)
 |-- value[2]: string (nullable = true)
 |-- value[3]: string (nullable = true)
 |-- value[4]: string (nullable = true)
 |-- value[5]: string (nullable = true)
 |-- value[6]: string (nullable = true)
 |-- value[7]: string (nullable = true)