In [1]:
import findspark
findspark.init('/usr/hdp/current/spark2-client')
#findspark.init()
findspark.find()

'/usr/hdp/current/spark2-client'

In [2]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("yarn").appName("sg32-langSpecifics").getOrCreate()
#spark = SparkSession.builder.master("local[*]").appName("sg32-langSpecifics").getOrCreate()

In [3]:
sc = spark.sparkContext

In [4]:
for x in sc._conf.getAll():
    if '/proxy/' in x[1]:
        print(x[1])

http://rm01.itversity.com:19288/proxy/application_1533622723243_20146

In [5]:
import pandas as pd

df = pd.DataFrame({"first":range(200), "second":range(50,250)})

/home/kranthidr/.local/lib/python2.7/site-packages/pandas/core/nanops.py:39: UserWarning: The installed version of bottleneck 0.7.0 is not supported in pandas and will be not be used
The minimum supported version is 1.0.0

  ver=ver, min_ver=_MIN_BOTTLENECK_VERSION), UserWarning)

In [8]:
df.head(10)

   first  second
0      0      50
1      1      51
2      2      52
3      3      53
4      4      54
5      5      55
6      6      56
7      7      57
8      8      58
9      9      59

In [9]:
# COMMAND ----------

sparkDF = spark.createDataFrame(df)

In [11]:
sparkDF.show(15)

+-----+------+
|first|second|
+-----+------+
|    0|    50|
|    1|    51|
|    2|    52|
|    3|    53|
|    4|    54|
|    5|    55|
|    6|    56|
|    7|    57|
|    8|    58|
|    9|    59|
|   10|    60|
|   11|    61|
|   12|    62|
|   13|    63|
|   14|    64|
+-----+------+
only showing top 15 rows

In [13]:
# COMMAND ----------
newPDF = sparkDF.toPandas()
newPDF.head(20)

    first  second
0       0      50
1       1      51
2       2      52
3       3      53
4       4      54
5       5      55
6       6      56
7       7      57
8       8      58
9       9      59
10     10      60
11     11      61
12     12      62
13     13      63
14     14      64
15     15      65
16     16      66
17     17      67
18     18      68
19     19      69