In [1]:
import findspark
findspark.init('/usr/hdp/current/spark2-client')
findspark.find()

'/usr/hdp/current/spark2-client'

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("yarn").appName("ch02Introduction").getOrCreate()

In [4]:
print(spark.version)

2.0.0.2.5.0.0-1245

In [5]:
sc = spark.sparkContext

In [6]:
sc._conf.getAll()

[('spark.master', 'local'),
 ('spark.history.kerberos.keytab', 'none'),
 ('spark.dynamicAllocation.maxExecutors', '4'),
 ('spark.eventLog.enabled', 'true'),
 ('spark.app.id', 'local-1532610216656'),
 ('spark.shuffle.service.enabled', 'true'),
 ('spark.driver.port', '43511'),
 ('spark.history.ui.port', '18081'),
 ('spark.driver.extraLibraryPath',
  '/usr/hdp/current/hadoop-client/lib/native:/usr/hdp/current/hadoop-client/lib/native/Linux-amd64-64'),
 ('spark.yarn.queue', 'default'),
 ('spark.executor.id', 'driver'),
 ('spark.dynamicAllocation.executorIdleTimeout', '10'),
 ('spark.yarn.historyServer.address', 'gw01.itversity.com:18081'),
 ('spark.executor.extraLibraryPath',
  '/usr/hdp/current/hadoop-client/lib/native:/usr/hdp/current/hadoop-client/lib/native/Linux-amd64-64'),
 ('spark.history.fs.logDirectory', 'hdfs:///spark2-history/'),
 ('hive.metastore.warehouse.dir',
  'file:/home/kranthidr/projects/pyspark-lab/spark-warehouse'),
 ('spark.history.kerberos.principal', 'none'),
 ('spark.rdd.compress', 'True'),
 ('spark.history.provider',
  'org.apache.spark.deploy.history.FsHistoryProvider'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.dynamicAllocation.minExecutors', '0'),
 ('spark.submit.deployMode', 'client'),
 ('spark.dynamicAllocation.enabled', 'true'),
 ('spark.dynamicAllocation.initialExecutors', '0'),
 ('spark.app.name', 'ch02Introduction'),
 ('spark.eventLog.dir', 'hdfs:///spark2-history/'),
 ('spark.driver.host', '172.16.1.109')]

In [7]:
sc._jsc.sc().uiWebUrl().get()

'http://172.16.1.109:4044'

In [8]:
myRange = spark.range(1000).toDF("number")

In [9]:
myRange.take(3)

[Row(number=0), Row(number=1), Row(number=2)]

In [10]:
divisBy2 = myRange.where("number %2 = 0")

In [11]:
divisBy2.show()

+------+
|number|
+------+
|     0|
|     2|
|     4|
|     6|
|     8|
|    10|
|    12|
|    14|
|    16|
|    18|
|    20|
|    22|
|    24|
|    26|
|    28|
|    30|
|    32|
|    34|
|    36|
|    38|
+------+
only showing top 20 rows

In [12]:
pwd

'/home/kranthidr/projects/pyspark-lab'

In [14]:
flightData2015 = spark\
                .read\
                .option("inferSchema", True)\
                .option("header", True)\
                .csv('file:///home/kranthidr/data/spark-guide/data/flight-data/csv/2015-summary.csv')

In [15]:
flightData2015.take(3)

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Croatia', count=1),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Ireland', count=344)]

In [8]:
flightData2015.sort("count").show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Estonia|    1|
|              Kosovo|      United States|    1|
|              Zambia|      United States|    1|
|       United States|   Papua New Guinea|    1|
|               Malta|      United States|    1|
|       United States|          Gibraltar|    1|
|            Suriname|      United States|    1|
|       United States|            Croatia|    1|
|            Djibouti|      United States|    1|
|        Burkina Faso|      United States|    1|
|Saint Vincent and...|      United States|    1|
|       United States|             Cyprus|    1|
|       United States|          Singapore|    1|
|             Moldova|      United States|    1|
|              Cyprus|      United States|    1|
|       United States|          Lithuania|    1|
|       United States|           Bulgaria|    1|
|       United States|            Georgia|    1|
|       United States|            Bahrain|    1|
|       Cote d'Ivoire|      United States|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [9]:
flightData2015.sort("count").explain()

== Physical Plan ==
*Sort [count#25 ASC NULLS FIRST], true, 0
+- Exchange rangepartitioning(count#25 ASC NULLS FIRST, 200)
   +- *FileScan csv [DEST_COUNTRY_NAME#23,ORIGIN_COUNTRY_NAME#24,count#25] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/C:/Users/KranthiKumar/JupyterNoteBooks/Spark-The-Definitive-Guide-master/..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,ORIGIN_COUNTRY_NAME:string,count:int>

In [10]:
spark.conf.set("spark.sql.shuffle.partitions", "5")
flightData2015.sort("count").take(2)

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Singapore', count=1),
 Row(DEST_COUNTRY_NAME='Moldova', ORIGIN_COUNTRY_NAME='United States', count=1)]

In [11]:
flightData2015.createOrReplaceTempView("flight_data_2015")

In [15]:
sqlWay = spark.sql("""
SELECT DEST_COUNTRY_NAME, COUNT(1) 
FROM flight_data_2015
GROUP BY DEST_COUNTRY_NAME""")


dataFrameWay = flightData2015.groupBy("DEST_COUNTRY_NAME").count()

In [13]:
sqlWay.explain()
dataFrameWay.explain()

== Physical Plan ==
*HashAggregate(keys=[DEST_COUNTRY_NAME#23], functions=[count(1)])
+- Exchange hashpartitioning(DEST_COUNTRY_NAME#23, 5)
   +- *HashAggregate(keys=[DEST_COUNTRY_NAME#23], functions=[partial_count(1)])
      +- *FileScan csv [DEST_COUNTRY_NAME#23] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/C:/Users/KranthiKumar/JupyterNoteBooks/Spark-The-Definitive-Guide-master/..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string>
== Physical Plan ==
*HashAggregate(keys=[DEST_COUNTRY_NAME#23], functions=[count(1)])
+- Exchange hashpartitioning(DEST_COUNTRY_NAME#23, 5)
   +- *HashAggregate(keys=[DEST_COUNTRY_NAME#23], functions=[partial_count(1)])
      +- *FileScan csv [DEST_COUNTRY_NAME#23] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/C:/Users/KranthiKumar/JupyterNoteBooks/Spark-The-Definitive-Guide-master/..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string>

In [16]:
sqlWay.show()
dataFrameWay.show()

+--------------------+--------+
|   DEST_COUNTRY_NAME|count(1)|
+--------------------+--------+
|             Moldova|       1|
|             Bolivia|       1|
|             Algeria|       1|
|Turks and Caicos ...|       1|
|            Pakistan|       1|
|    Marshall Islands|       1|
|            Suriname|       1|
|              Panama|       1|
|         New Zealand|       1|
|             Liberia|       1|
|             Ireland|       1|
|              Zambia|       1|
|            Malaysia|       1|
|               Japan|       1|
|    French Polynesia|       1|
|           Singapore|       1|
|             Denmark|       1|
|               Spain|       1|
|             Bermuda|       1|
|            Kiribati|       1|
+--------------------+--------+
only showing top 20 rows

+--------------------+-----+
|   DEST_COUNTRY_NAME|count|
+--------------------+-----+
|             Moldova|    1|
|             Bolivia|    1|
|             Algeria|    1|
|Turks and Caicos ...|    1|
|            Pakistan|    1|
|    Marshall Islands|    1|
|            Suriname|    1|
|              Panama|    1|
|         New Zealand|    1|
|             Liberia|    1|
|             Ireland|    1|
|              Zambia|    1|
|            Malaysia|    1|
|               Japan|    1|
|    French Polynesia|    1|
|           Singapore|    1|
|             Denmark|    1|
|               Spain|    1|
|             Bermuda|    1|
|            Kiribati|    1|
+--------------------+-----+
only showing top 20 rows

In [20]:
spark.sql("SELECT max(count) FROM flight_data_2015").show()

+----------+
|max(count)|
+----------+
|    370002|
+----------+

In [21]:
from pyspark.sql.functions import max
flightData2015.select(max("count")).show()

+----------+
|max(count)|
+----------+
|    370002|
+----------+

In [22]:
maxSql = spark.sql("""
SELECT DEST_COUNTRY_NAME, SUM(count) AS destination_total
FROM flight_data_2015
GROUP BY DEST_COUNTRY_NAME
ORDER BY destination_total DESC
LIMIT 5""")

from pyspark.sql.functions import desc
maxDataFrame = flightData2015.groupBy("DEST_COUNTRY_NAME").sum("count")\
.withColumnRenamed("sum(count)", "destination_total")\
.sort(desc("destination_total"))\
.limit(5)

In [23]:
maxSql.explain()
maxDataFrame.explain()

== Physical Plan ==
TakeOrderedAndProject(limit=5, orderBy=[destination_total#158L DESC NULLS LAST], output=[DEST_COUNTRY_NAME#23,destination_total#158L])
+- *HashAggregate(keys=[DEST_COUNTRY_NAME#23], functions=[sum(cast(count#25 as bigint))])
   +- Exchange hashpartitioning(DEST_COUNTRY_NAME#23, 5)
      +- *HashAggregate(keys=[DEST_COUNTRY_NAME#23], functions=[partial_sum(cast(count#25 as bigint))])
         +- *FileScan csv [DEST_COUNTRY_NAME#23,count#25] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/C:/Users/KranthiKumar/JupyterNoteBooks/Spark-The-Definitive-Guide-master/..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,count:int>
== Physical Plan ==
TakeOrderedAndProject(limit=5, orderBy=[destination_total#173L DESC NULLS LAST], output=[DEST_COUNTRY_NAME#23,destination_total#173L])
+- *HashAggregate(keys=[DEST_COUNTRY_NAME#23], functions=[sum(cast(count#25 as bigint))])
   +- Exchange hashpartitioning(DEST_COUNTRY_NAME#23, 5)
      +- *HashAggregate(keys=[DEST_COUNTRY_NAME#23], functions=[partial_sum(cast(count#25 as bigint))])
         +- *FileScan csv [DEST_COUNTRY_NAME#23,count#25] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/C:/Users/KranthiKumar/JupyterNoteBooks/Spark-The-Definitive-Guide-master/..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,count:int>

In [24]:
maxSql.show()

+-----------------+-----------------+
|DEST_COUNTRY_NAME|destination_total|
+-----------------+-----------------+
|    United States|           411352|
|           Canada|             8399|
|           Mexico|             7140|
|   United Kingdom|             2025|
|            Japan|             1548|
+-----------------+-----------------+

In [25]:
maxDataFrame.show()

+-----------------+-----------------+
|DEST_COUNTRY_NAME|destination_total|
+-----------------+-----------------+
|    United States|           411352|
|           Canada|             8399|
|           Mexico|             7140|
|   United Kingdom|             2025|
|            Japan|             1548|
+-----------------+-----------------+