In [1]:
import findspark
findspark.init('/usr/hdp/current/spark2-client')
findspark.find()

'/usr/hdp/current/spark2-client'

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("yarn").appName("test").getOrCreate()

In [4]:
sc = spark.sparkContext

In [5]:
spark

In [41]:
from pyspark.sql.types import StructType, StringType, IntegerType,StructField
schema = StructType([ StructField("name", StringType(), True), StructField("age", IntegerType(), True)])

In [42]:
df = spark.createDataFrame( [('Ankit',25),('Ankit', 9),('Jalfaizy',22),('saurabh',20),('Bala',26),('Bala',19)], schema=schema)

In [43]:
df.show()

+--------+---+
|    name|age|
+--------+---+
|   Ankit| 25|
|   Ankit|  9|
|Jalfaizy| 22|
| saurabh| 20|
|    Bala| 26|
|    Bala| 19|
+--------+---+

In [44]:
df.groupBy("name").count().show()

+--------+-----+
|    name|count|
+--------+-----+
|    Bala|    2|
|Jalfaizy|    1|
| saurabh|    1|
|   Ankit|    2|
+--------+-----+

In [45]:
df_age20 = df.filter("age >= 20")

In [46]:
df_age20.show()

+--------+---+
|    name|age|
+--------+---+
|   Ankit| 25|
|Jalfaizy| 22|
| saurabh| 20|
|    Bala| 26|
+--------+---+

In [47]:
from pyspark.sql.functions import lit

In [50]:
df_age20.schema

StructType(List(StructField(name,StringType,true),StructField(age,IntegerType,true)))

In [48]:
df_age20.describe()

DataFrame[summary: string, name: string, age: string]

In [54]:
df_age20.withColumn("year",lit(2018) - "age").show()

+--------+---+----+
|    name|age|year|
+--------+---+----+
|   Ankit| 25|null|
|Jalfaizy| 22|null|
| saurabh| 20|null|
|    Bala| 26|null|
+--------+---+----+

In [55]:
df_age20.withColumn("year",lit(2018)).describe()

DataFrame[summary: string, name: string, age: string, year: string]

In [37]:
df_age20.withColumn("year",2018 - i).show()

TypeError: unsupported operand type(s) for -: 'int' and 'str'