In [17]:
//Example
val rdd = sc.parallelize(Array(1,2,2,4), 4)

rdd = ParallelCollectionRDD[10] at parallelize at <console>:28

ParallelCollectionRDD[10] at parallelize at <console>:28

In [18]:
rdd.count()

4

In [19]:
rdd.collect()

[1, 2, 2, 4]

In [20]:
rdd.saveAsTextFile("/user/kranthidr/temp/mynumbers")

In [21]:
rdd.saveAsTextFile("/user/kranthidr/temp/some_text.txt") //still save as directory --- how to save as single file

In [22]:
val rdd2 = sc.textFile("/user/kranthidr/samples/auto_data.csv")

rdd2 = /user/kranthidr/samples/auto_data.csv MapPartitionsRDD[14] at textFile at <console>:27

/user/kranthidr/samples/auto_data.csv MapPartitionsRDD[14] at textFile at <console>:27

In [23]:
rdd2.take(3)

[18,8,307,130,3504,12,70,1, 15,8,350,165,3693,11.5,70,1, 18,8,318,150,3436,11,70,1]

In [24]:
rdd2.take(3).length

3

In [25]:
rdd2.take(3).foreach(println)

18,8,307,130,3504,12,70,1
15,8,350,165,3693,11.5,70,1
18,8,318,150,3436,11,70,1

In [63]:
val d1 = rdd2.map(x => { x.split(",")}).toDF() // No use of Split Method

d1 = [value: array<string>]

lastException: Throwable = null

[value: array<string>]

In [64]:
d1.show()

+--------------------+
|               value|
+--------------------+
|[18, 8, 307, 130,...|
|[15, 8, 350, 165,...|
|[18, 8, 318, 150,...|
|[16, 8, 304, 150,...|
|[17, 8, 302, 140,...|
|[15, 8, 429, 198,...|
|[14, 8, 454, 220,...|
|[14, 8, 440, 215,...|
|[14, 8, 455, 225,...|
|[15, 8, 390, 190,...|
|[15, 8, 383, 170,...|
|[14, 8, 340, 160,...|
|[15, 8, 400, 150,...|
|[14, 8, 455, 225,...|
|[24, 4, 113, 95, ...|
|[22, 6, 198, 95, ...|
|[18, 6, 199, 97, ...|
|[21, 6, 200, 85, ...|
|[27, 4, 97, 88, 2...|
|[26, 4, 97, 46, 1...|
+--------------------+
only showing top 20 rows

In [82]:
d1.printSchema()

root
 |-- value: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [105]:
val d2 = d1.selectExpr("value[0]", "value[1]", "value[2]", "value[3]", "value[4]", "value[5]", "value[6]", "value[7]")

d2 = [value[0]: string, value[1]: string ... 6 more fields]

[value[0]: string, value[1]: string ... 6 more fields]

In [106]:
d2.show()

+--------+--------+--------+--------+--------+--------+--------+--------+
|value[0]|value[1]|value[2]|value[3]|value[4]|value[5]|value[6]|value[7]|
+--------+--------+--------+--------+--------+--------+--------+--------+
|      18|       8|     307|     130|    3504|      12|      70|       1|
|      15|       8|     350|     165|    3693|    11.5|      70|       1|
|      18|       8|     318|     150|    3436|      11|      70|       1|
|      16|       8|     304|     150|    3433|      12|      70|       1|
|      17|       8|     302|     140|    3449|    10.5|      70|       1|
|      15|       8|     429|     198|    4341|      10|      70|       1|
|      14|       8|     454|     220|    4354|       9|      70|       1|
|      14|       8|     440|     215|    4312|     8.5|      70|       1|
|      14|       8|     455|     225|    4425|      10|      70|       1|
|      15|       8|     390|     190|    3850|     8.5|      70|       1|
|      15|       8|     383|     170|    3563|      10|      70|       1|
|      14|       8|     340|     160|    3609|       8|      70|       1|
|      15|       8|     400|     150|    3761|     9.5|      70|       1|
|      14|       8|     455|     225|    3086|      10|      70|       1|
|      24|       4|     113|      95|    2372|      15|      70|       3|
|      22|       6|     198|      95|    2833|    15.5|      70|       1|
|      18|       6|     199|      97|    2774|    15.5|      70|       1|
|      21|       6|     200|      85|    2587|      16|      70|       1|
|      27|       4|      97|      88|    2130|    14.5|      70|       3|
|      26|       4|      97|      46|    1835|    20.5|      70|       2|
+--------+--------+--------+--------+--------+--------+--------+--------+
only showing top 20 rows

In [108]:
d2.write.mode("ignore").json("/user/kranthidr/temp/auto_sample.json") //creating directory ..how to write file???