In [1]:
import org.apache.spark.sql.{DataFrame, Dataset, Row}
import org.apache.spark.sql.functions._ // for lit(), first(), etc.

In [2]:
val rawblocks = sc.textFile("/user/kranthidr/dataSets/ore_aas/ch02_linkage/linkage")

Waiting for a Spark session to start...

rawblocks = /user/kranthidr/dataSets/ore_aas/ch02_linkage/linkage MapPartitionsRDD[1] at textFile at <console>:31

/user/kranthidr/dataSets/ore_aas/ch02_linkage/linkage MapPartitionsRDD[1] at textFile at <console>:31

In [3]:
val head = rawblocks.take(10)

head = Array("id_1","id_2","cmp_fname_c1","cmp_fname_c2","cmp_lname_c1","cmp_lname_c2","cmp_sex","cmp_bd","cmp_bm","cmp_by","cmp_plz","is_match", 37291,53113,0.833333333333333,?,1,?,1,1,1,1,0,TRUE, 39086,47614,1,?,1,?,1,1,1,1,1,TRUE, 70031,70237,1,?,1,?,1,1,1,1,1,TRUE, 84795,97439,1,?,1,?,1,1,1,1,1,TRUE, 36950,42116,1,?,1,1,1,1,1,1,1,TRUE, 42413,48491,1,?,1,?,1,1,1,1,1,TRUE, 25965,64753,1,?,1,?,1,1,1,1,1,TRUE, 49451,90407,1,?,1,?,1,1,1,1,0,TRUE, 39932,40902,1,?,1,?,1,1,1,1,1,TRUE)

["id_1","id_2","cmp_fname_c1","cmp_fname_c2","cmp_lname_c1","cmp_lname_c2","cmp_sex","cmp_bd","cmp_bm","cmp_by","cmp_plz","is_match", 37291,53113,0.833333333333333,?,1,?,1,1,1,1,0,TRUE, 39086,47614,1,?,1,?,1,1,1,1,1,TRUE, 70031,70237,1,?,1,?,1,1,1,1,1,TRUE, 84795,97439,1,?,1,?,1,1,1,1,1,TRUE, 36950,42116,1,?,1,1,1,1,1,1,1,TRUE, 42413,48491,1,?,1,?,1,1,1,1,1,TRUE, 25965,64753,1,?,1,?,1,1,1,1,1,TRUE, 49451,90407,1,?,1,?,1,1,1,1,0,TRUE, 39932,40902,1,?,1,?,1,1,1,1,1,TRUE]

In [4]:
head.length

10

In [5]:
head.foreach(println)

"id_1","id_2","cmp_fname_c1","cmp_fname_c2","cmp_lname_c1","cmp_lname_c2","cmp_sex","cmp_bd","cmp_bm","cmp_by","cmp_plz","is_match"
37291,53113,0.833333333333333,?,1,?,1,1,1,1,0,TRUE
39086,47614,1,?,1,?,1,1,1,1,1,TRUE
70031,70237,1,?,1,?,1,1,1,1,1,TRUE
84795,97439,1,?,1,?,1,1,1,1,1,TRUE
36950,42116,1,?,1,1,1,1,1,1,1,TRUE
42413,48491,1,?,1,?,1,1,1,1,1,TRUE
25965,64753,1,?,1,?,1,1,1,1,1,TRUE
49451,90407,1,?,1,?,1,1,1,1,0,TRUE
39932,40902,1,?,1,?,1,1,1,1,1,TRUE

In [6]:
def isHeader(line: String): Boolean = {
    line.contains("id_1")
}

isHeader: (line: String)Boolean

In [7]:
head.filter(isHeader)

["id_1","id_2","cmp_fname_c1","cmp_fname_c2","cmp_lname_c1","cmp_lname_c2","cmp_sex","cmp_bd","cmp_bm","cmp_by","cmp_plz","is_match"]

In [8]:
head.filterNot(isHeader).length

9

In [9]:
head.filter(x => !isHeader(x)).length

9

In [10]:
head.filter(!isHeader(_)).length

9

In [11]:
val noHeader = rawblocks.filter(!isHeader(_))

noHeader = MapPartitionsRDD[2] at filter at <console>:35

MapPartitionsRDD[2] at filter at <console>:35

In [12]:
noHeader.take(10).foreach(println)

37291,53113,0.833333333333333,?,1,?,1,1,1,1,0,TRUE
39086,47614,1,?,1,?,1,1,1,1,1,TRUE
70031,70237,1,?,1,?,1,1,1,1,1,TRUE
84795,97439,1,?,1,?,1,1,1,1,1,TRUE
36950,42116,1,?,1,1,1,1,1,1,1,TRUE
42413,48491,1,?,1,?,1,1,1,1,1,TRUE
25965,64753,1,?,1,?,1,1,1,1,1,TRUE
49451,90407,1,?,1,?,1,1,1,1,0,TRUE
39932,40902,1,?,1,?,1,1,1,1,1,TRUE
46626,47940,1,?,1,?,1,1,1,1,1,TRUE

In [13]:
val prev = spark.read.csv("/user/kranthidr/dataSets/ore_aas/ch02_linkage/linkage")

Waiting for a Spark session to start...

prev = [_c0: string, _c1: string ... 10 more fields]

[_c0: string, _c1: string ... 10 more fields]

In [14]:
prev.show(25)

+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
|  _c0|  _c1|         _c2|         _c3|         _c4|         _c5|    _c6|   _c7|   _c8|   _c9|   _c10|    _c11|
+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
| id_1| id_2|cmp_fname_c1|cmp_fname_c2|cmp_lname_c1|cmp_lname_c2|cmp_sex|cmp_bd|cmp_bm|cmp_by|cmp_plz|is_match|
| 3148| 8326|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|14055|94934|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|33948|34740|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|  946|71870|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|64880|71676|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|25739|45991|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|62415|93584|           1|           ?|           1|           ?|      1|     1|     1|     1|      0|    TRUE|
|27995|31399|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
| 4909|12238|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|15161|16743|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|31703|37310|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|30213|36558|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|56596|56630|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|16481|21174|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|32649|37094|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|34268|37260|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|66117|69253|           1|           ?|           1|           ?|      1|     1|     1|     1|      0|    TRUE|
| 2771|31982|           1|           ?|           1|           ?|      0|     1|     1|     1|      1|    TRUE|
|23557|29673|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|37156|39557|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|41860|44112|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
|39712|57158|           1|           ?|           1|           ?|      1|     1|     1|     1|      0|    TRUE|
|69257|77150|           1|           ?|           1|           ?|      1|     1|     1|     1|      0|    TRUE|
|27879|47029|           1|           ?|           1|           ?|      1|     1|     1|     1|      1|    TRUE|
+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
only showing top 25 rows

In [15]:
val parsed = spark.
                read.
                option("inferSchema","true").
                option("nullValue","?").
                option("header","true").
                csv("/user/kranthidr/dataSets/ore_aas/ch02_linkage/linkage")

parsed = [id_1: int, id_2: int ... 10 more fields]

[id_1: int, id_2: int ... 10 more fields]

In [16]:
parsed.show()

+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
| id_1| id_2|cmp_fname_c1|cmp_fname_c2|cmp_lname_c1|cmp_lname_c2|cmp_sex|cmp_bd|cmp_bm|cmp_by|cmp_plz|is_match|
+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
| 3148| 8326|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|14055|94934|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|33948|34740|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|  946|71870|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|64880|71676|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|25739|45991|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|62415|93584|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      0|    true|
|27995|31399|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
| 4909|12238|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|15161|16743|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|31703|37310|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|30213|36558|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|56596|56630|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|16481|21174|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|32649|37094|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|34268|37260|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|66117|69253|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      0|    true|
| 2771|31982|         1.0|        null|         1.0|        null|      0|     1|     1|     1|      1|    true|
|23557|29673|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|37156|39557|         1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
+-----+-----+------------+------------+------------+------------+-------+------+------+------+-------+--------+
only showing top 20 rows

In [17]:
parsed.printSchema()

root
 |-- id_1: integer (nullable = true)
 |-- id_2: integer (nullable = true)
 |-- cmp_fname_c1: double (nullable = true)
 |-- cmp_fname_c2: double (nullable = true)
 |-- cmp_lname_c1: double (nullable = true)
 |-- cmp_lname_c2: double (nullable = true)
 |-- cmp_sex: integer (nullable = true)
 |-- cmp_bd: integer (nullable = true)
 |-- cmp_bm: integer (nullable = true)
 |-- cmp_by: integer (nullable = true)
 |-- cmp_plz: integer (nullable = true)
 |-- is_match: boolean (nullable = true)

In [20]:
parsed.count()

5749132

In [21]:
parsed.cache()

[id_1: int, id_2: int ... 10 more fields]

In [23]:
parsed.rdd.map(_.getAs[Boolean]("is_match")).countByValue()

Map(false -> 5728201, true -> 20931)

In [30]:
//val reduce = parsed.rdd.map(_.getAs[Boolean]("is_match")).reduceByKey() //How to use reduce by key ??

Name: Syntax Error.
Message:
StackTrace:

In [31]:
case class MatchData(
  id_1: Int,
  id_2: Int,
  cmp_fname_c1: Option[Double],
  cmp_fname_c2: Option[Double],
  cmp_lname_c1: Option[Double],
  cmp_lname_c2: Option[Double],
  cmp_sex: Option[Int],
  cmp_bd: Option[Int],
  cmp_bm: Option[Int],
  cmp_by: Option[Int],
  cmp_plz: Option[Int],
  is_match: Boolean
)

defined class MatchData

In [33]:
parsed.groupBy("is_match").count().orderBy($"count".desc).show()

+--------+-------+
|is_match|  count|
+--------+-------+
|   false|5728201|
|    true|  20931|
+--------+-------+

In [34]:
parsed.agg(avg($"cmp_sex"), stddev ($"cmp_sex")).show()

+-----------------+--------------------+
|     avg(cmp_sex)|stddev_samp(cmp_sex)|
+-----------------+--------------------+
|0.955001381078048| 0.20730111116897745|
+-----------------+--------------------+

In [35]:
parsed.createOrReplaceTempView("linkage")
    spark.sql("""
      SELECT is_match, COUNT(*) cnt
      FROM linkage
      GROUP BY is_match
      ORDER BY cnt DESC
    """).show()

+--------+-------+
|is_match|    cnt|
+--------+-------+
|   false|5728201|
|    true|  20931|
+--------+-------+

In [36]:
val summary = parsed.describe()

summary = [summary: string, id_1: string ... 10 more fields]

[summary: string, id_1: string ... 10 more fields]

In [37]:
summary.show()

+-------+------------------+------------------+------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+
|summary|              id_1|              id_2|      cmp_fname_c1|       cmp_fname_c2|       cmp_lname_c1|       cmp_lname_c2|            cmp_sex|             cmp_bd|             cmp_bm|            cmp_by|            cmp_plz|
+-------+------------------+------------------+------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+
|  count|           5749132|           5749132|           5748125|             103698|            5749132|               2464|            5749132|            5748337|            5748337|           5748337|            5736289|
|   mean| 33324.48559643438| 66587.43558331935|0.7129024704430528| 0.9000176718903381|0.31562781930823774|0.31841283153174355|  0.955001381078048|0.22446526708507172|0.48885529849763504|0.2227485966810923|0.00552866147434343|
| stddev|23659.859374488482|23620.487613270012|0.3887583596162807|0.27131761057823345|0.33423363396157973| 0.3685670662006655|0.20730111116897743|0.41722972238462575|0.49987582367789735|0.4160909629831743|0.07414914925420102|
|    min|                 1|                 6|               0.0|                0.0|                0.0|                0.0|                  0|                  0|                  0|                 0|                  0|
|    max|             99980|            100000|               1.0|                1.0|                1.0|                1.0|                  1|                  1|                  1|                 1|                  1|
+-------+------------------+------------------+------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+

In [38]:
summary.select("summary", "cmp_fname_c1", "cmp_fname_c2").show()

+-------+------------------+-------------------+
|summary|      cmp_fname_c1|       cmp_fname_c2|
+-------+------------------+-------------------+
|  count|           5748125|             103698|
|   mean|0.7129024704430528| 0.9000176718903381|
| stddev|0.3887583596162807|0.27131761057823345|
|    min|               0.0|                0.0|
|    max|               1.0|                1.0|
+-------+------------------+-------------------+

In [40]:
def pivotSummary(desc: DataFrame): DataFrame = {
    val lf = longForm(desc)
    lf.groupBy("field").
      pivot("metric", Seq("count", "mean", "stddev", "min", "max")).
      agg(first("value"))
  }

  def longForm(desc: DataFrame): DataFrame = {
    import desc.sparkSession.implicits._ // For toDF RDD -> DataFrame conversion
    val schema = desc.schema
    desc.flatMap(row => {
      val metric = row.getString(0)
      (1 until row.size).map(i => (metric, schema(i).name, row.getString(i).toDouble))
    })
    .toDF("metric", "field", "value")
  }

pivotSummary: (desc: org.apache.spark.sql.DataFrame)org.apache.spark.sql.DataFrame
longForm: (desc: org.apache.spark.sql.DataFrame)org.apache.spark.sql.DataFrame

In [41]:
val matches = parsed.where("is_match = true")
val misses = parsed.filter($"is_match" === false)
val matchSummary = matches.describe()
val missSummary = misses.describe()

val matchSummaryT = pivotSummary(matchSummary)
val missSummaryT = pivotSummary(missSummary)

matches = [id_1: int, id_2: int ... 10 more fields]
misses = [id_1: int, id_2: int ... 10 more fields]
matchSummary = [summary: string, id_1: string ... 10 more fields]
missSummary = [summary: string, id_1: string ... 10 more fields]
matchSummaryT = [field: string, count: double ... 4 more fields]
missSummaryT = [field: string, count: double ... 4 more fields]

[field: string, count: double ... 4 more fields]

In [42]:
matchSummaryT.createOrReplaceTempView("match_desc")
missSummaryT.createOrReplaceTempView("miss_desc")
spark.sql("""
      SELECT a.field, a.count + b.count total, a.mean - b.mean delta
      FROM match_desc a INNER JOIN miss_desc b ON a.field = b.field
      ORDER BY delta DESC, total DESC
    """).show()

+------------+---------+--------------------+
|       field|    total|               delta|
+------------+---------+--------------------+
|        id_1|5749132.0|  1255.8076310367542|
|     cmp_plz|5736289.0|  0.9563812499852176|
|cmp_lname_c2|   2464.0|  0.8064147192926263|
|      cmp_by|5748337.0|  0.7762059675300512|
|      cmp_bd|5748337.0|   0.775442311783404|
|cmp_lname_c1|5749132.0|  0.6838772482591962|
|      cmp_bm|5748337.0|  0.5109496938298685|
|cmp_fname_c1|5748125.0|  0.2854529057466466|
|cmp_fname_c2| 103698.0|  0.0910426806227832|
|     cmp_sex|5749132.0|0.032408185250332844|
|        id_2|5749132.0| -15383.483201807663|
+------------+---------+--------------------+

In [45]:
case class Score(value: Double) {
    def +(oi: Option[Int]) = {
      Score(value + oi.getOrElse(0))
    }
  }

  def scoreMatchData(md: MatchData): Double = {
    (Score(md.cmp_lname_c1.getOrElse(0.0)) + md.cmp_plz +
        md.cmp_by + md.cmp_bd + md.cmp_bm).value
  }

defined class Score

scoreMatchData: (md: MatchData)Double

In [49]:
val matchData = parsed.as[MatchData]

val scored = matchData.map { md =>
      (scoreMatchData(md), md.is_match)
    }.toDF("score", "is_match")

def crossTabs(scored: DataFrame, t: Double): DataFrame = {
    scored.
      selectExpr(s"score >= $t as above", "is_match").
      groupBy("above").
      pivot("is_match", Seq("true", "false")).
      count()
  }

matchData = [id_1: int, id_2: int ... 10 more fields]
scored = [score: double, is_match: boolean]

crossTabs: (scored: org.apache.spark.sql.DataFrame, t: Double)org.apache.spark.sql.DataFrame

[score: double, is_match: boolean]

In [50]:
crossTabs(scored, 4.0).show()

+-----+-----+-------+
|above| true|  false|
+-----+-----+-------+
| true|20871|    637|
|false|   60|5727564|
+-----+-----+-------+

In [51]:
crossTabs(scored, 2.0).show()

+-----+-----+-------+
|above| true|  false|
+-----+-----+-------+
| true|20931| 596414|
|false| null|5131787|
+-----+-----+-------+